.bg1{
    width: 50%;
    
    
    background-image: url(../Asset/group-9DK.png);
}

.bg2{
    width: 100%;
    position: absolute;
    top: -50px;
    left: 1050px;
    background-image: url(../Asset/group-JAV.png);
}

.bg3{
    width: 50%;
    position: absolute;
    top: 150px;
    left: 550px;
    background-image: url(../Asset/group-jWh.png);
}