@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  background-color: #E5E5E5;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #10221b;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

/*header section*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.01rem 9%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.active {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header img {
  width: 202px;
  height: 180px;
  margin-bottom: -65px;
  margin-top: -35px;
}

.header .navbar {
  margin-left: 150px;
}

.header .navbar a {
  margin-left: 2rem;
  font-size: 16px;
  font-family: inter;
  text-align: center;
  font-weight: 400;
  margin-left: 35px;
  color: #10221b;
}

.header .navbar a:hover {
  color: #219150;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}

.header .icons a,
div {
  font-size: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #219150;
}

.header #menu-btn {
  display: none;
}

.header .icons>* {
  margin-left: 1.5rem;
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .icons>*:hover {
  color: var(--yellow);
}

.header .icons span {
  font-size: 2rem;
}

.header .profile {
  background-color: #fff;
  border: .2rem solid#222;
  padding: 1.5rem;
  text-align: center;
  position: absolute;
  top: 125%;
  right: 18rem;
  width: 30rem;
  display: none;
  animation: fadeIn .2s linear;
}

.header .profile.active {
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
  }
}

.header .profile .name {
  font-size: 2rem;
  color: #222;
  margin-bottom: .5rem;
}

.header .profile .account {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: #777;
}

.header .profile .account a {
  color: #222;
}

.header .profile .account a:hover {
  color: #fed330;
  text-decoration: underline;
}

/*heder ends*/
/*footer*/
.footer {
  background: #E5E5E5;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 5fr));
  gap: 1rem;
}

.footer .box-container .box img {
  width: 75%;
  margin-bottom: -55px;
  margin-top: -50px;
}

.footer .box-container .box p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5C6574;
  margin-left: 55px;
}

.footer .box-container .box h3 {
  height: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #101A24;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5C6574;
}

.footer .box-container .box a i {
  color: #219150;
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: #219150;
}

.footer .box-container .box a:hover i {
  padding-right: 1rem;
}

.footer .credit {
  text-align: left;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #5C6574;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.footer .credit span {
  color: #219150;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }

  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: right !important;
  }

  .home .box.second {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: left !important;
  }

  .home .box .content {
    text-align: center;
  }

  .home .box .content span {
    font-size: 3rem;
  }

  .home .box .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header .navbar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }

  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }

  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
/*index.php*/
.about-content {
  position: relative;
  display: flex;
  width: 1314px;
  height: 600px;
  margin-top: 0px;
}

.about-content .image-about .second {
  position: absolute;
  width: auto;
  height: auto;
  top: 25px;
  left: 75px;
}

.about-content .image-about .first {
  position: absolute;
  width: auto;
  height: auto;
}

.about-content .topic-about h2 {
  position: absolute;
  width: 151px;
  height: 63px;
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 39px;
  left: 800px;
  letter-spacing: 0.175em;
  color: #000000;
}

.about-content .logo-about {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: -100px;
  margin-left: 600px;
}

.about-content .content-about p {
  position: absolute;
  width: 565px;
  height: 270px;
  left: 586px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 250px;
  line-height: 29px;
  color: #5C6574;
}

.about-content .content-about a {
  left: 800px;
  position: absolute;
  top: 550px;
  border-radius: 999px;
  padding: 1em 3em;
  background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #EAE5D9;
  cursor: pointer;
  transition: box-shadow 0.25s ease 0s;
  letter-spacing: 0.08rem;

}

.about-content .content-about a:hover,
.about-content .content-about a:focus {
  background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
  box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}

/*about page*/
.page {
  margin-top: 50px;
}

.page-heading h1 {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: #101A24;
}

.page-heading p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #9E9D9D;
  margin-bottom: 15px;
}

.image .dish {
  position: absolute;
  width: 300px;
  height: 311px;
  left: 437px;
  top: 554px;
}

.content {
  position: absolute;
  width: 565px;
  left: 739px;
  top: 239px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #5C6574;
}

/*contact page*/
.contact form {
  padding: 2rem;
  text-align: center;
  background-color: #eee;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  border: var(--border);
  max-width: 50rem;
  margin: 0 auto;
}

.contact form h3 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 2.5rem;
  color: var(--black);
}

.contact form .box {
  margin: 1rem 0;
  width: 100%;
  background-color: var(--light-bg);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: .5rem;
}

.contact form textarea {
  height: 15rem;
  resize: none;
}

/*contact*/
.page .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;

}

.page .row2 form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  color: #666;
}

.page .row2 form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #130f40;
  text-align: center;
}

.page .row2 form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page .row2 form .inputBox input {
  width: 49%;
}

.page .row2 form .inputBox input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  padding: 1rem 1.2rem;
  font-family: 'Inter';
  font-style: normal;
  color: #101A24;
  font-size: 18px;
  text-transform: none;
  margin: .7rem 0;
}

.page .row2 form textarea {
  height: 15rem;
  resize: none;
  padding: 10px;
  width: 100%;
  border-radius: .5rem;
  font-family: 'Inter';
  font-style: normal;
  color: #101A24;
  font-size: 18px;
}

.page .row2 .map {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/*end contact*/
/*login page*/
.card {
  width: auto;
  height: auto;
  border-radius: 32px;
  background: #D9D9D9;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.card .right-box {
  height: 500px;
  padding: 20px;
  background-image: url(/Asset/group-hUd.png);
  background-size: 40%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-position-x: 100px;
}

.card .right-box h2 {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #101A24;
  margin-top: 50px;
  margin-left: 25px;
}

.card .right-box .log {
  width: 292.56px;
  height: 51px;
  left: 253px;
  top: 455px;
  padding-top: 15px;
  margin-left: 42px;
}

.card .right-box .log i {
  background: #EA6D27;
}

.card .log p {
  width: 258.84px;
  height: 51px;
  left: 286.72px;
  top: 455px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #5C6574;
}

.card .link {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #080066;
  margin-top: 200px;
  text-align: center;
  left: 300px;

}

.card .vl {
  position: absolute;
  width: 250px;
  height: 0px;
  left: 620px;
  top: 421px;
  border: 1px solid #000000;
  transform: rotate(-90deg);
}

.card .left-box {
  position: absolute;
  left: 830px;
  top: 300px;
}


.card .left-box form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding: 2rem;
  border: none;
  border-radius: .5rem;
  width: 400px;

}

.card .left-box form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card .left-box form .inputBox input {
  width: 100%;
  border-radius: 20px;
}

.card .left-box form .inputBox input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  padding: 1rem 1.2rem;
  font-family: 'Inter';
  font-style: normal;
  color: #101A24;
  font-size: 16px;
  border-radius: 10px;
  text-transform: none;
  margin: .7rem 0;
}

/*register page*/
.card .right-box-R {
  height: 500px;
  padding: 20px;
  background-image: url(/Asset/group-hUd.png);
  background-size: 40%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-position-x: 650px;
}

.card .right-box-R h2 {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #101A24;
  margin-top: 50px;
  margin-left: 25px;
  float: right;
}

.card .right-box-R .log {
  position: absolute;
  width: 292.56px;
  height: 51px;
  left: 853px;
  top: 355px;
  padding-top: 15px;
  margin-left: 52px;
}

.card .right-box-R .log i {
  background: #EA6D27;
}

.card .log p {
  width: 258.84px;
  height: 51px;
  left: 286.72px;
  top: 455px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #5C6574;
}

.card .link-R {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #080066;
  margin-top: 200px;
  top: 400px;
  text-align: center;
  left: 900px;

}

.card .left-box-R {
  position: absolute;
  left: 230px;
  top: 280px;
}


.card .left-box-R form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding: 2rem;
  border: none;
  border-radius: .5rem;
  width: 400px;

}

.card .left-box-R form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card .left-box-R form .inputBox input {
  width: 100%;
  border-radius: 20px;
}

.card .left-box-R form .inputBox input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  padding: 1rem 1.2rem;
  font-family: 'Inter';
  font-style: normal;
  color: #101A24;
  font-size: 16px;
  border-radius: 10px;
  text-transform: none;
  margin: .7rem 0;
}

/*category*/
.card-category {
  --hover-bg: #FFE5F4;
  max-width: 23ch;
  text-align: center;
  background: #EFE8E7;
  padding: 1.5em;
  padding-block: 1.8em;
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card-category:hover {
  background: var(--hover-bg);
}

.card-category .icon-category img {
  width: 90%;
  margin-left: -15px;
}

.card-category strong {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 26px;
  text-align: center;
  color: #101A24;
}

/*menu page*/
.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 0rem;
  justify-content: center;
  align-items: flex-start;
}

.box-container .pro-card {
  width: 200px;
  height: 254px;
  padding: .8em;
  background: #f5f5f5;
  border-radius: 5px;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.box-container .pro-card-img {
  background-color: #f5f5f5;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
  justify-content: center;
  align-items: flex-start;
  object-fit: contain;
  margin-left: -0px;
}

.pro-card-img img {
  width: 50%;
  justify-content: center;
  display: flex;
  margin-left: 45px;
  object-fit: contain;
}

.pro-card-info {
  padding-top: 10%;
}

.pro-card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.pro-text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
}

.pro-text-body {
  font-size: .9em;
  float: left;
  padding-bottom: 10px;
}

/*Button*/
.pro-card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .2em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  margin-top: -10px;
  margin-right: 15px;
}

/*Hover*/
.pro-card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.pro-card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

/*order page*/
/*home page*/
.hero .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  margin-top: 45px;
  margin-bottom: 4rem;
}

.hero .slide .image {
  flex: 1 1 20rem;
}

.hero .slide .image img {
  width: 40%;
  float: right;
}

.hero .slide .content {
  flex: 1 1 40rem;
  text-align: center;
  margin-left: -750px;
}

.hero .slide .content span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #5C6574;
}

.hero .slide .content h3 {
  margin-top: -75px;
  color: var(--black);
  text-transform: capitalize;
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 65px;
  color: #101A24;
}

.btn-menu {
  padding: 8px 25px;
  border-radius: 8px;
  background: #101A24;
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.btn-book {
  padding: 8px 25px;
  border-radius: 8px;
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  background: #EA6D27;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.swiper-pagination-bullet-active {
  background-color: var(--yellow);
}

/*banner*/
.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  width: 75%;
  margin-left: 200px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: rgba(222, 218, 218, 0.98);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px 75px;
}

.banner-container .banner {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  overflow: hidden;
  height: 30rem;
  width: 50%;
  position: relative;
}

.banner-container .banner img {
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner-container .banner:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  margin-left: -250px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-container .banner .content span {
  font-size: 2rem;
  color: #666;
}

.banner-container .banner .content h3 {
  font-size: 3.2rem;
  color: #130f40;
  padding-top: .5rem;
}

.banner-container .banner .hat {
  position: absolute;
  width: 157.52px;
  height: 81.66px;
  left: 38px;
  top: 5px;
  transform: rotate(-33.95deg);
}

.btn-banner {
  padding: 12px 30px;
  border-radius: 50px;
  border: 0;
  background-color: #D21200;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  color: #fff;
  font-size: 20px;
  transition: all .5s ease;
}

.btn-banner:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-banner:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.category-content,
.product-content h1 {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  text-align: center;
  color: #101A24;

}

.category-content,
.product-content p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #282828;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

.category-content .slide {
  margin-bottom: 5rem;
  --bg: #f7f7f8;
  --hover-bg: #FFE5F4;
  --hover-text: #E50087;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.category-content .slide:hover {
  background-color: var(--hover-bg);
}

.category-content .slide:hover img {
  transform: scale(1.5);
}

.category-content .slide:hover h3 {
  color: var(--white);
}

.category-content .slide img {
  height: 15rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: 0.5rem;
  user-select: none;
}

.category-content .slide h3 {
  color: var(--black);
  user-select: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #101A24;
}

.product-card {
  width: 190px;
  height: auto;
}

.product-card img {
  width: 150%;
  height: 20rem;
  margin-left: -45px;
  object-fit: contain;
}

.product-card .product-card-price {
  background-color: #000000;
  position: absolute;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-top: -190px;
  margin-left: 140px;
}

.product-card .product-card-price p {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 6px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 15px;
  margin-top: 7px;
}

.product-card .product-cover {
  background-color: #fff;
  margin-top: -100px;
  width: 180px;
  height: 150px;
  margin-left: 10px;
  border-radius: 25px 25px 10px 10px;
}

.product-card .product-cover h1 {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #101A24;
  padding-top: 80px;
  margin-top: 5px;
}

.product-card .product-cover p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #5C6574;
  margin-bottom: 5px;
}

.product-content .slide {
  margin-bottom: 35px;
}

.deal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.deal .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-left: 150px;
}

.deal .image img {
  width: 40rem;
}

.deal .content {
  position: absolute;
  flex: 1 1 42rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  margin-top: 2850px;
}

.deal .content span {
  color: #eb4d4b;
  font-size: 1.7rem;
}

.deal .content h3 {
  color: #130f40;
  font-size: 3rem;
  padding: .5rem 0;
}

.deal .content p {
  color: #666;
  font-size: 2rem;
}