
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.cart-page-j2Z {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: #e5e4e4;
  padding-bottom: 2.1rem;
  align-items: flex-end;

  .cart-Rvy {
    margin: 0rem 4.045rem 1.419rem 0rem;
    width: 188.5554rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-jzj4-XUD {
      margin: 0rem 6.455rem 8.071rem 0rem;
      width: 182.1rem;
      height: 97.5291rem;
      position: relative;
      flex-shrink: 0;

      .group-S5P {
        vertical-align: top;
        opacity: 0.2;
        width: 36.3139rem;
        height: 15.5631rem;
        position: absolute;
        left: 52.4rem;
        top: 32.2rem;
        object-fit: contain;
      }
      .ellipse-3-x3j {
        vertical-align: top;
        width: 77.9rem;
        height: 77.8rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
      }
      .ellipse-5-txy {
        border-radius: 38.9rem;
        width: 77.8rem;
        height: 77.8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem rgba(16, 26, 36, 0.200000003);
        box-sizing: border-box;
      }
      .ellipse-4-Cyf {
        width: 97.5291rem;
        height: 97.5291rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .group-55-vPs {
        width: 121.7rem;
        height: 23.1564rem;
        position: absolute;
        left: 11.1rem;
        top: 24.6rem;

        .group-18-eam {
          width: 59.1rem;
          height: 19.8rem;
          position: absolute;
          left: 0;
          top: 1.6rem;

          .rectangle-32-NFs {
            top: 3.7rem;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #909090;
            border-radius: 1.5rem;
            width: 48.7rem;
            height: 12.5rem;
            position: absolute;
            left: 10.4rem;
          }
          .group-54-5AH {
            padding: 0rem 0.174rem 0rem 0.185rem;
            left: 22.7rem;
            top: 12.7rem;
            align-items: center;
            box-sizing: border-box;
            width: 9.8rem;
            height: 2.5rem;
            position: absolute;
            display: flex;

            .plus-circle-NQH {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.783rem 0.1rem 0rem;
              width: 1.849rem;
              height: 2rem;
              position: relative;
              object-fit: contain;
            }
            .item-2-hBf {
              text-align: center;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 0.6904rem;
              font-weight: 500;
              line-height: 1.2125;
              white-space: nowrap;
              font-size: 2rem;
            }
            .minus-circle-oEh {
              margin: 0rem 1.109rem 0.1rem 0rem;
              width: 1.849rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .edit-i6m {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.1121rem;
              width: 1.8604rem;
              height: 2.0121rem;
              position: relative;
              object-fit: contain;
            }
          }
          .item-1099-rTs {
            width: 10.1rem;
            height: 3.7rem;
            line-height: 1.2102272034;
            position: absolute;
            left: 47rem;
            font-weight: 400;
            display: flex;
            top: 8rem;
            text-align: center;
            font-size: 3rem;
            color: #000000;
            align-items: baseline;
            font-family: Brown Falco, 'Source Sans Pro';
            white-space: nowrap;

            .item-1099-rTs-sub-0 {
              font-size: 3rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-1099-rTs-sub-1 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 3rem;
              font-weight: 800;
              line-height: 1.2125;
              letter-spacing: -1.005rem;
            }
            .item-1099-rTs-sub-2 {
              font-size: 3rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .with-special-sauce-Syo {
            height: 2.5rem;
            position: absolute;
            left: 22.5rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            width: 18.4rem;
            top: 9.8rem;
            line-height: 1.2125;
            color: #020202;
            white-space: nowrap;
          }
          .vegan-chinese-gdF {
            height: 3.7rem;
            left: 22.3rem;
            text-align: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 22.8rem;
            position: absolute;
            top: 6.1rem;
            font-size: 3rem;
            font-weight: 900;
            color: #000000;
          }
          .image-removebg-preview-9-1-Q3T {
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 20.7rem;
            height: 19.8rem;
            position: absolute;
          }
        }
        .group-21-8VF {
          top: 0;
          width: 64.4rem;
          height: 23.1564rem;
          position: absolute;
          left: 57.3rem;

          .rectangle-32-fk5 {
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #909090;
            border-radius: 1.5rem;
            width: 48.7rem;
            height: 12.5rem;
            position: absolute;
            left: 15.7rem;
            top: 5.3rem;
          }
          .group-54-yEy {
            align-items: center;
            padding: 0rem 0.174rem 0rem 0.185rem;
            width: 9.8rem;
            left: 28rem;
            top: 14.3rem;
            display: flex;
            box-sizing: border-box;
            height: 2.5rem;
            position: absolute;

            .plus-circle-Egh {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.783rem 0.1rem 0rem;
              width: 1.849rem;
              height: 2rem;
              position: relative;
              object-fit: contain;
            }
            .item-2-YhP {
              font-weight: 500;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.6904rem;
              font-size: 2rem;
              color: #000000;
              text-align: center;
            }
            .minus-circle-5hK {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.109rem 0.1rem 0rem;
              width: 1.849rem;
              height: 2rem;
              object-fit: contain;
            }
            .edit-RFP {
              flex-shrink: 0;
              margin-bottom: 0.1121rem;
              width: 1.8604rem;
              height: 2.0121rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item-1099-MPw {
            top: 9.6rem;
            font-size: 3rem;
            color: #000000;
            width: 10.1rem;
            left: 52.3rem;
            text-align: center;
            font-weight: 400;
            align-items: baseline;
            line-height: 1.2102272034;
            height: 3.7rem;
            position: absolute;
            font-family: Brown Falco, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;

            .item-1099-MPw-sub-0 {
              font-size: 3rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-1099-MPw-sub-1 {
              letter-spacing: -1.005rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 3rem;
              font-weight: 800;
              line-height: 1.2125;
            }
            .item-1099-MPw-sub-2 {
              font-size: 3rem;
              font-weight: 800;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .with-special-sauce-t4R {
            width: 18.4rem;
            left: 27.8rem;
            font-size: 2rem;
            line-height: 1.2125;
            color: #020202;
            white-space: nowrap;
            height: 2.5rem;
            position: absolute;
            top: 11.4rem;
            text-align: center;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
          }
          .vegan-chinese-Pms {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 22.8rem;
            height: 3.7rem;
            text-align: center;
            font-size: 3rem;
            font-weight: 900;
            position: absolute;
            left: 27.6rem;
            top: 7.7rem;
            line-height: 1.2125;
            color: #000000;
          }
          .image-removebg-preview-8-1-6AV {
            object-fit: cover;
            vertical-align: top;
            width: 31.3rem;
            height: 23.1564rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      .restaurent-cart-c8q {
        font-size: 6rem;
        font-weight: 700;
        color: #101a24;
        position: absolute;
        text-align: center;
        left: 51.25rem;
        top: 15rem;
        line-height: 1.0833333333;
        font-family: David Libre, 'Source Sans Pro';
        white-space: nowrap;
        width: 41.4rem;
        height: 6.5rem;
      }
      .header-87B {
        width: 125.8rem;
        height: 8rem;
        position: absolute;
        left: 7.7rem;
        top: 2.4rem;
        display: flex;
        align-items: center;

        .beige-brown-illustration-restaurant-logo-no-bg-1-4Wd {
          width: 20.2rem;
          height: 8rem;
          position: relative;
          background-size: 100% 252.5%;
          background-position: -0rem -5.35rem;
          background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
          flex-shrink: 0;
        }
        .auto-group-opuc-x6D {
          box-sizing: border-box;
          padding: 0.8rem 0rem 0.8rem 22.4rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .navigation-UqF {
            margin: 1.8rem 25.1rem 1.7rem 0rem;
            height: calc(100% - 3.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .menu-PhK {
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .category-XoX {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.1rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
            }
            .about-FUd {
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
            }
            .contact-zh7 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .shopping-cart-wcM {
            margin: 0rem 3.6rem 0.1rem 0rem;
            width: 2.2rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .navigation-button-sF7 {
            padding: 1.8rem 4.8rem 1.7rem 1.6rem;
            height: 100%;
            display: flex;
            background-size: cover;
            flex-shrink: 0;
            box-sizing: border-box;
            align-items: center;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:5:4689');

            .user-Nhf {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 2rem 0.5rem 0rem;
              width: 1.6rem;
              height: 1.8rem;
            }
            .sign-in-seR {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.45;
              color: #ffffff;
              font-family: David Libre, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .auto-group-ejrz-AtR {
      flex-shrink: 0;
      margin-left: 66.7rem;
      width: calc(100% - 66.7rem);
      display: flex;
      align-items: flex-start;

      .auto-group-mqjv-grm {
        margin: 10.3rem 3.9rem 0rem 0rem;
        width: 92.4rem;
        height: 38.6808rem;
        position: relative;
        flex-shrink: 0;

        .group-R3f {
          top: 10.9rem;
          background-size: cover;
          background-image: url('REPLACE_IMAGE:5:4675');
          position: absolute;
          width: 20.4728rem;
          height: 27.7808rem;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0.2;

          .vector-Mi1 {
            width: 20.4616rem;
            height: 27.7768rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .navigation-button-EWu {
          font-weight: 500;
          white-space: nowrap;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:5:4704');
          height: 5.4rem;
          top: 30.6rem;
          text-align: center;
          font-family: David Libre, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          background-size: cover;
          width: 24.1rem;
          left: 15.4rem;
          color: #ffffff;
          background-position: center;
          position: absolute;
          font-size: 2rem;
          line-height: 1.45;
          align-items: center;
        }
        .navigation-button-WUR {
          height: 5.4rem;
          top: 30.6rem;
          line-height: 1.45;
          align-items: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 24.1rem;
          font-size: 2rem;
          background-position: center;
          position: absolute;
          white-space: nowrap;
          display: flex;
          background-image: url('REPLACE_IMAGE:5:4762');
          text-align: center;
          font-weight: 500;
          color: #ffffff;
          font-family: David Libre, 'Source Sans Pro';
          justify-content: center;
          left: 42rem;
        }
        .navigation-button-oCd {
          width: 24.1rem;
          height: 5.4rem;
          font-size: 2rem;
          font-weight: 500;
          justify-content: center;
          background-repeat: no-repeat;
          color: #ffffff;
          display: flex;
          left: 68.3rem;
          text-align: center;
          white-space: nowrap;
          background-position: center;
          background-image: url('REPLACE_IMAGE:5:4765');
          position: absolute;
          top: 30.6rem;
          line-height: 1.45;
          font-family: David Libre, 'Source Sans Pro';
          align-items: center;
          background-size: cover;
        }
        .group-20-4eM {
          position: absolute;
          left: 29.4rem;
          top: 0;
          background-color: #cfcfcf;
          border-radius: 1.2rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 45.3rem;
          height: 26rem;

          .auto-group-8qds-Nuw {
            width: 34.6rem;
            height: 14.7rem;
            position: absolute;
            left: 5.5rem;
            top: 3.6rem;
            display: flex;
            align-items: center;

            .sub-total-delivery-cost-promo-code--Hn1 {
              font-family: David Libre, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 2.5rem;
              max-width: 17.8rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 2.45;
              color: #000000;
            }
            .auto-group-ckkq-BsP {
              margin: 1.3rem 0rem 0.6rem 0rem;
              width: 14.3rem;
              height: calc(100% - 1.9rem);
              border-bottom: solid 0.1rem #000000;
              box-sizing: border-box;
              flex-shrink: 0;

              .auto-group-lhvs-7m3 {
                align-items: center;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding: 0rem 3.8rem 0.7rem 3.9rem;
                width: 100%;
                height: 12.7rem;

                .item-1099-p9f {
                  line-height: 1.1820000648;
                  flex-shrink: 0;
                  margin-bottom: 2.3rem;
                  text-align: center;
                  font-size: 2rem;
                  font-weight: 400;
                  align-items: baseline;
                  color: #353535;
                  font-family: Brown Falco, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;

                  .item-1099-p9f-sub-0 {
                    font-family: ABeeZee, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.1825;
                    color: #000000;
                  }
                  .item-1099-p9f-sub-1 {
                    font-weight: 400;
                    line-height: 1.1825;
                    letter-spacing: -0.67rem;
                    color: #000000;
                    font-family: ABeeZee, 'Source Sans Pro';
                    font-size: 2rem;
                  }
                  .item-1099-p9f-sub-2 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.1825;
                    color: #000000;
                    font-family: ABeeZee, 'Source Sans Pro';
                  }
                }
                .item-1099-yaH {
                  text-align: center;
                  font-size: 2rem;
                  font-weight: 400;
                  font-family: Brown Falco, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: baseline;
                  flex-shrink: 0;
                  margin-bottom: 2.5rem;
                  color: #353535;
                  display: flex;
                  line-height: 1.1820000648;

                  .item-1099-yaH-sub-0 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.1825;
                    color: #000000;
                    font-family: ABeeZee, 'Source Sans Pro';
                  }
                  .item-1099-yaH-sub-1 {
                    line-height: 1.1825;
                    letter-spacing: -0.67rem;
                    color: #000000;
                    font-family: ABeeZee, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 400;
                  }
                  .item-1099-yaH-sub-2 {
                    line-height: 1.1825;
                    color: #000000;
                    font-family: ABeeZee, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 400;
                  }
                }
                .item-1099-zNu {
                  text-align: center;
                  font-family: Brown Falco, 'Source Sans Pro';
                  align-items: baseline;
                  flex-shrink: 0;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.1820000648;
                  color: #353535;
                  white-space: nowrap;
                  display: flex;

                  .item-1099-zNu-sub-0 {
                    color: #000000;
                    font-family: ABeeZee, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.1825;
                  }
                  .item-1099-zNu-sub-1 {
                    font-family: ABeeZee, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.1825;
                    letter-spacing: -0.67rem;
                    color: #000000;
                  }
                  .item-1099-zNu-sub-2 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.1825;
                    color: #000000;
                    font-family: ABeeZee, 'Source Sans Pro';
                  }
                }
              }
            }
          }
          .auto-group-pwd6-bn1 {
            left: 5.5rem;
            top: 18.4rem;
            display: flex;
            align-items: center;
            width: 30.8rem;
            height: 2.4rem;
            position: absolute;

            .total-iLq {
              font-weight: 400;
              line-height: 1.1825;
              color: #000000;
              margin-right: 19.4rem;
              text-align: center;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-family: ABeeZee, 'Source Sans Pro';
            }
            .item-1099-S1w {
              font-weight: 400;
              display: flex;
              flex-shrink: 0;
              text-align: center;
              font-size: 2rem;
              line-height: 1.1820000648;
              color: #353535;
              font-family: Brown Falco, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;

              .item-1099-S1w-sub-0 {
                font-weight: 400;
                line-height: 1.1825;
                color: #000000;
                font-family: ABeeZee, 'Source Sans Pro';
                font-size: 2rem;
              }
              .item-1099-S1w-sub-1 {
                letter-spacing: -0.67rem;
                color: #000000;
                font-family: ABeeZee, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.1825;
              }
              .item-1099-S1w-sub-2 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.1825;
                color: #000000;
                font-family: ABeeZee, 'Source Sans Pro';
              }
            }
          }
          .line-4-1cm {
            height: 0.1rem;
            position: absolute;
            left: 25.8rem;
            top: 21.6rem;
            background-color: #000000;
            width: 14.3rem;
          }
          .line-5-dPF {
            left: 25.8rem;
            top: 22rem;
            background-color: #000000;
            width: 14.3rem;
            height: 0.1rem;
            position: absolute;
          }
        }
      }
      .group-sHb {
        opacity: 0.2;
        width: 25.5554rem;
        height: 24.2448rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .footer-18u {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-v8pg-ZAR {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 21.2rem 2.6rem 7.1rem;
      width: calc(100% - 28.3002rem);
      height: 24rem;

      .auto-group-4pwz-gF3 {
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 8.6rem;

        .group-38-241 {
          height: calc(100% - 6.1rem);
          position: relative;
          flex-shrink: 0;
          margin: 2rem 13.1rem 4.1rem 0rem;
          width: 31.1rem;

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-XWZ {
            top: 6.3rem;
            line-height: 1.8125;
            width: 22.2rem;
            position: absolute;
            font-size: 1.6rem;
            font-weight: 400;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            height: 11.6rem;
            left: 8.9rem;
          }
          .beige-brown-illustration-restaurant-logo-no-bg-1-YwT {
            width: 20.2rem;
            height: 7.2rem;
            position: relative;
            left: 0;
            top: 0;
            background-size: 100% 252.5%;
            background-position: -0rem -4.815rem;
            background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
          }
        }
        .group-9-cwK {
          height: 19.6rem;
          position: relative;
          flex-shrink: 0;
          margin-right: 10.5rem;
          width: 9.1rem;

          .menu-about-us-contact-us-main-dishes-ZrZ {
            left: 0;
            font-family: Inter, 'Source Sans Pro';
            line-height: 2.5;
            color: #5c6574;
            width: 9.1rem;
            height: 16rem;
            position: absolute;
            top: 3.6rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .navigation-HGm {
            font-weight: 700;
            line-height: 3.3333333333;
            width: 7.7rem;
            left: 0;
            top: 0;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 4rem;
            position: absolute;
            text-transform: uppercase;
            color: #101a24;
          }
        }
        .group-10-B7F {
          margin-right: 8.6rem;
          width: 12.7rem;
          height: 19.7rem;
          position: relative;
          flex-shrink: 0;

          .fish-viggies-tofu-chili-egg-cocumber-lumpia-w-suace-iss {
            position: absolute;
            left: 0;
            top: 3.7rem;
            font-size: 1.6rem;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            width: 12.7rem;
            height: 16rem;
            font-weight: 400;
            line-height: 2.5;
          }
          .dishes-cTT {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 3.3333333333;
            color: #101a24;
            width: 4.5rem;
            height: 4rem;
            position: absolute;
            left: 0;
            top: 0;
            text-transform: uppercase;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .group-11-jny {
          width: 7.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .follow-us-Vn9 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 3.3333333333;
            text-transform: uppercase;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-cfhi-e9F {
            box-sizing: border-box;
            padding: 1.3rem 1.812rem 0rem 1.4rem;
            width: 100%;
            row-gap: 0.8124rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .facebook-mDs {
              width: 100%;
              border: solid 0.1rem #101a24;
              border-radius: 1.9438rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.691rem 0.691rem 0.691rem 0.691rem;

              .image-1-6mw {
                width: 2.5054rem;
                height: 2.5053rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .group-40-NzM {
              width: 3.8876rem;
              height: 3.8876rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-39-Jd7 {
              width: 100%;
              height: 3.8876rem;
              position: relative;
              flex-shrink: 0;

              .facebook-SDX {
                width: 3.8876rem;
                height: 3.8876rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
              .image-3-noB {
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                left: 0.6875rem;
                top: 0.7rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
        }
      }
      .group-37-Wz5 {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .opening-hours-eaV {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-weight: 700;
          line-height: 3.3333333333;
          text-transform: uppercase;
          color: #101a24;
          font-size: 1.2rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .monday-friday-8-00-am-to-9-00-pm-P2H {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          max-width: 14.9rem;
        }
        .saturday-8-00-am-to-9-00-pm-hof {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          max-width: 14.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
        }
        .sunday-closed-36q {
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 6.4rem;
          font-size: 1.6rem;
        }
      }
    }
    .line-2-YZP {
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      width: 100%;
      height: 0.1rem;
    }
    .auto-group-7vqa-gvV {
      margin: 0rem 5.3rem 0rem 7.1rem;
      width: calc(100% - 12.4002rem);
      height: 2.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .copyright-BsF {
        align-items: center;
        flex-shrink: 0;
        margin-right: 58.8999rem;
        height: 100%;
        display: flex;

        .copyright-symbol-svgrepo-com-1-8Gh {
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 1rem 0rem 0rem;
        }
        .restaurants-all-right-reserved-designed-by-yohan-T45 {
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .terms-of-service-privacy-policy-mqT {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.8125;
        color: #5c6574;
      }
    }
  }
}
