
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.category-page-Cg1 {
  display: flex;
  background-color: #e5e4e4;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 1.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;

  .categories-zrm {
    margin: 0rem 4.045rem 7.7rem 0rem;
    width: 188.5554rem;
    height: 195.1rem;
    position: relative;
    flex-shrink: 0;

    .group-VHj {
      left: 114.4rem;
      top: 55.9rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.2;
      width: 25.5554rem;
      height: 24.2448rem;
      position: absolute;
    }
    .group-oJR {
      left: 2.8rem;
      top: 103.8rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.2;
      width: 36.3139rem;
      height: 15.5631rem;
      position: absolute;
    }
    .group-h8u {
      vertical-align: top;
      opacity: 0.2;
      width: 36.3139rem;
      height: 15.5631rem;
      position: absolute;
      left: 60.9rem;
      top: 19.9rem;
      object-fit: contain;
    }
    .ellipse-3-2gy {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 77.9rem;
      height: 77.8rem;
    }
    .ellipse-5-aiV {
      border: solid 0.1rem rgba(16, 26, 36, 0.200000003);
      box-sizing: border-box;
      border-radius: 38.9rem;
      width: 77.8rem;
      height: 77.8rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .ellipse-4-6gq {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 97.5291rem;
      height: 97.5291rem;
      position: absolute;
    }
    .group-12-cv5 {
      top: 30rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      width: 117.3rem;
      height: 115.4rem;
      position: absolute;
      left: 13.3rem;

      .auto-group-3wds-9v1 {
        align-items: center;
        margin: 0rem 0.1rem 5.1rem 0rem;
        width: calc(100% - 0.1rem);
        height: 35.1rem;
        display: flex;

        .auto-group-xsgc-fdT {
          box-sizing: border-box;
          padding: 0.1rem 6.1rem 0rem 0rem;
          height: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .group-2-zvd {
            box-sizing: border-box;
            padding-bottom: 4.6rem;
            width: 35rem;
            align-items: center;
            flex-direction: column;
            border-radius: 1.5rem;
            flex-shrink: 0;
            margin-right: 6.1rem;
            height: 100%;
            display: flex;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #efe7e7;

            .image-removebg-preview-6-1-jdK {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              width: 35rem;
              height: 27.7rem;
            }
            .buggers-26d {
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
              font-weight: 700;
              line-height: 0.7222222222;
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 1.4rem;
              text-align: center;
              font-size: 3.6rem;
            }
          }
          .group-3-2kq {
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #efe7e7;
            border-radius: 1.5rem;
            flex-shrink: 0;
            width: 35rem;
            height: 100%;
            position: relative;

            .image-removebg-preview-8-1-NJu {
              width: 34.8rem;
              height: 29rem;
              position: absolute;
              left: 0.2rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .chinees-food-sWZ {
              width: 20.7rem;
              font-weight: 700;
              line-height: 0.7222222222;
              white-space: nowrap;
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
              height: 2.6rem;
              position: absolute;
              left: 7.9rem;
              top: 27.8rem;
              text-align: center;
              font-size: 3.6rem;
            }
          }
        }
        .group-2-J65 {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 35rem;

          .rectangle-15-FX7 {
            border-radius: 1.5rem;
            width: 35rem;
            height: 35rem;
            position: absolute;
            left: 0;
            top: 0.1rem;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #efe7e7;
          }
          .image-removebg-preview-7-1-Znh {
            width: 24.9rem;
            height: 27.9rem;
            position: relative;
            left: 5.4rem;
            top: 0;
            background-size: 168.421% 100.228%;
            background-position: 0 -0.0319rem;
            background-image: url('REPLACE_IMAGE:8e764b9c663afd541a884140b8b2224facfd0671');
          }
          .salads-2wB {
            color: #101a24;
            font-family: David Libre, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            font-weight: 700;
            line-height: 0.7222222222;
            top: 27.9rem;
            text-align: center;
            font-size: 3.6rem;
            width: 10.1rem;
            height: 2.6rem;
            left: 13.2rem;
          }
        }
      }
      .auto-group-nvha-k6V {
        margin-bottom: 5.2rem;
        height: 35rem;
        display: flex;
        align-items: center;

        .group-4-HcD {
          margin-right: 6.1rem;
          box-sizing: border-box;
          height: 100%;
          box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
          background-color: #efe7e7;
          border-radius: 1.5rem;
          flex-shrink: 0;
          padding: 3.2rem 6.7rem 4.6rem 6.9rem;
          width: 35rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .ellipse-16-oaZ {
            margin-bottom: 2.9rem;
            width: 21.4rem;
            height: 21.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .kottu-guF {
            margin-left: 1.3rem;
            line-height: 0.7222222222;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 3.6rem;
            font-weight: 700;
            color: #101a24;
            font-family: David Libre, 'Source Sans Pro';
          }
        }
        .group-5-LD7 {
          border-radius: 1.5rem;
          padding: 3.6rem 3rem 4.6rem 2.9rem;
          box-sizing: border-box;
          width: 35rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
          margin-right: 5.9rem;
          flex-shrink: 0;
          background-color: #efe7e7;

          .png-transparent-pizza-margherita-italian-cuisine-chicago-style-pizza-pepperoni-pizza-removebg-preview-1-25w {
            margin-bottom: 3.1rem;
            width: 29.1rem;
            height: 21.1rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .pizza-tdw {
            flex-shrink: 0;
            font-weight: 700;
            font-family: David Libre, 'Source Sans Pro';
            font-size: 3.6rem;
            line-height: 0.7222222222;
            color: #101a24;
            white-space: nowrap;
            margin-left: 1.5rem;
            text-align: center;
          }
        }
        .group-6-nzD {
          flex-shrink: 0;
          width: 35.2rem;
          height: 100%;
          position: relative;

          .rectangle-15-vqX {
            position: absolute;
            left: 0.2rem;
            top: 0;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #efe7e7;
            border-radius: 1.5rem;
            width: 35rem;
            height: 35rem;
          }
          .rice-Fcu {
            font-family: David Libre, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.7rem;
            left: 15.1rem;
            top: 27.8rem;
            text-align: center;
            font-weight: 700;
            line-height: 0.7222222222;
            height: 2.6rem;
            position: absolute;
            font-size: 3.6rem;
            color: #101a24;
          }
          .image-removebg-preview-9-1-a9P {
            position: absolute;
            left: 0;
            top: 3.4rem;
            object-fit: cover;
            vertical-align: top;
            width: 33.2rem;
            height: 21.3rem;
          }
        }
      }
      .auto-group-vl3j-5rq {
        column-gap: 6.1rem;
        align-items: center;
        margin-left: 0.1rem;
        height: 35rem;
        display: flex;

        .group-7-c65 {
          height: 100%;
          box-sizing: border-box;
          padding: 3rem 6.4rem 4.6rem 7.2rem;
          width: 35rem;
          box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
          background-color: #efe7e7;
          border-radius: 1.5rem;
          flex-shrink: 0;
          align-items: center;
          display: flex;
          flex-direction: column;

          .ellipse-17-jRb {
            height: 21.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
            width: 21.4rem;
          }
          .juice-gLq {
            line-height: 0.7222222222;
            color: #101a24;
            text-align: center;
            font-size: 3.6rem;
            font-family: David Libre, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.6rem;
            font-weight: 700;
          }
        }
        .group-8-9kD {
          flex-direction: column;
          box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          height: 100%;
          align-items: center;
          background-color: #efe7e7;
          padding: 3rem 6.8rem 4.6rem 6.8rem;
          width: 35rem;

          .ellipse-18-HbX {
            height: 21.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
            width: 21.4rem;
          }
          .tea-Qg9 {
            line-height: 0.7222222222;
            font-family: David Libre, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 1.5rem;
            text-align: center;
            font-size: 3.6rem;
            font-weight: 700;
            color: #101a24;
            flex-shrink: 0;
          }
        }
        .group-9-tbK {
          flex-direction: column;
          box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
          background-color: #efe7e7;
          flex-shrink: 0;
          padding: 3rem 7.3rem 4.6rem 6.3rem;
          width: 35rem;
          display: flex;
          border-radius: 1.5rem;
          box-sizing: border-box;
          height: 100%;
          align-items: center;

          .ellipse-19-dJ1 {
            margin-bottom: 3.1rem;
            width: 21.4rem;
            height: 21.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .pasta-NmP {
            color: #101a24;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            text-align: center;
            font-weight: 700;
            line-height: 0.7222222222;
            font-family: David Libre, 'Source Sans Pro';
            margin-left: 2.5rem;
          }
        }
      }
    }
    .all-our-best-meals-in-one-delicious-snap-RDs {
      line-height: 1.2125;
      color: #282828;
      height: 3.7rem;
      position: absolute;
      top: 22.4rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 55.8rem;
      left: 44.05rem;
      font-size: 3rem;
      font-weight: 400;
    }
    .top-category-iTs {
      font-family: David Libre, 'Source Sans Pro';
      font-size: 6rem;
      font-weight: 700;
      color: #101a24;
      left: 54.6rem;
      top: 15rem;
      text-align: center;
      line-height: 1.0833333333;
      white-space: nowrap;
      width: 34.7rem;
      height: 6.5rem;
      position: absolute;
    }
    .header-zAV {
      display: flex;
      align-items: center;
      width: 125.8rem;
      height: 8rem;
      position: absolute;
      left: 7.7rem;
      top: 2.4rem;

      .beige-brown-illustration-restaurant-logo-no-bg-1-8Gh {
        background-position: -0rem -5.35rem;
        background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
        flex-shrink: 0;
        width: 20.2rem;
        height: 8rem;
        position: relative;
        background-size: 100% 252.5%;
      }
      .auto-group-nb1a-zJu {
        box-sizing: border-box;
        padding: 0.8rem 0rem 0.8rem 22.4rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .navigation-Kc5 {
          flex-shrink: 0;
          margin: 1.8rem 25.1rem 1.7rem 0rem;
          height: calc(100% - 3.5rem);
          display: flex;
          align-items: center;

          .menu-FEq {
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
          }
          .category-PM3 {
            flex-shrink: 0;
            margin-right: 4.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .about-WgZ {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.5rem;
          }
          .contact-RoX {
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .shopping-cart-9Dj {
          width: 2.2rem;
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.6rem 0.1rem 0rem;
        }
        .navigation-button-3a1 {
          align-items: center;
          background-size: cover;
          background-image: url('REPLACE_IMAGE:5:4222');
          font-weight: 500;
          font-family: David Libre, 'Source Sans Pro';
          display: flex;
          white-space: nowrap;
          background-repeat: no-repeat;
          height: 100%;
          font-size: 2rem;
          line-height: 1.45;
          color: #ffffff;
          background-position: center;
          width: 16.7rem;
          justify-content: center;
          flex-shrink: 0;
        }
      }
    }
  }
  .footer-XEH {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;

    .auto-group-zkeg-HDT {
      margin: 0rem 21.2rem 2.6rem 7.1rem;
      width: calc(100% - 28.3001rem);
      height: 24rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-zd9a-xqP {
        padding-right: 8.5999rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;

        .group-38-gmP {
          height: calc(100% - 6.1rem);
          position: relative;
          flex-shrink: 0;
          margin: 2rem 13.1rem 4.1rem 0rem;
          width: 31.1rem;

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-pMo {
            position: absolute;
            top: 6.3rem;
            font-weight: 400;
            line-height: 1.8125;
            font-family: Inter, 'Source Sans Pro';
            height: 11.6rem;
            left: 8.9rem;
            font-size: 1.6rem;
            color: #5c6574;
            width: 22.2rem;
          }
          .beige-brown-illustration-restaurant-logo-no-bg-1-VD3 {
            top: 0;
            background-size: 100% 252.5%;
            background-position: -0rem -4.815rem;
            background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
            width: 20.2rem;
            height: 7.2rem;
            position: relative;
            left: 0;
          }
        }
        .group-9-aVP {
          position: relative;
          flex-shrink: 0;
          margin-right: 10.5rem;
          width: 9.1rem;
          height: 19.6rem;

          .menu-about-us-contact-us-main-dishes-vp9 {
            height: 16rem;
            position: absolute;
            top: 3.6rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5;
            font-family: Inter, 'Source Sans Pro';
            width: 9.1rem;
            left: 0;
            color: #5c6574;
          }
          .navigation-QjK {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 3.3333333333;
            text-transform: uppercase;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 4rem;
            position: absolute;
            top: 0;
            color: #101a24;
            width: 7.7rem;
            left: 0;
          }
        }
        .group-10-Y4q {
          margin-right: 8.6rem;
          width: 12.7rem;
          height: 19.7rem;
          position: relative;
          flex-shrink: 0;

          .fish-viggies-tofu-chili-egg-cocumber-lumpia-w-suace-TxV {
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            top: 3.7rem;
            font-size: 1.6rem;
            line-height: 2.5;
            left: 0;
            font-weight: 400;
            width: 12.7rem;
            height: 16rem;
            position: absolute;
          }
          .dishes-yR3 {
            font-size: 1.2rem;
            line-height: 3.3333333333;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 4rem;
            position: absolute;
            top: 0;
            text-transform: uppercase;
            color: #101a24;
            width: 4.5rem;
            left: 0;
            font-weight: 700;
          }
        }
        .group-11-JiD {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 7.1rem;
          align-items: center;

          .follow-us-GQ9 {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 3.3333333333;
            text-transform: uppercase;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-tfwe-QmF {
            row-gap: 0.8124rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.3rem 1.812rem 0rem 1.4rem;
            width: 100%;

            .facebook-8x9 {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.6911rem 0.6911rem;
              width: 100%;
              border: solid 0.1rem #101a24;
              border-radius: 1.9438rem;

              .image-1-fBP {
                width: 2.5054rem;
                height: 2.5053rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .group-40-xwB {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.8876rem;
              height: 3.8876rem;
            }
            .group-39-hds {
              height: 3.8876rem;
              position: relative;
              flex-shrink: 0;
              width: 100%;

              .facebook-3hj {
                height: 3.8876rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 3.8876rem;
              }
              .image-3-oS1 {
                vertical-align: top;
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                left: 0.6876rem;
                top: 0.7rem;
                object-fit: cover;
              }
            }
          }
        }
      }
      .group-37-swf {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .opening-hours-EnD {
          line-height: 3.3333333333;
          color: #101a24;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
        }
        .monday-friday-8-00-am-to-9-00-pm-kVf {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          max-width: 14.9rem;
        }
        .saturday-8-00-am-to-9-00-pm-fsX {
          margin-bottom: 0.5rem;
          max-width: 14.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .sunday-closed-CcZ {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 6.4rem;
        }
      }
    }
    .line-2-wKF {
      height: 0.1rem;
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      width: 100%;
    }
    .auto-group-l5jq-gGq {
      margin: 0rem 5.3rem 0rem 7.1rem;
      width: calc(100% - 12.4001rem);
      height: 2.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .copyright-Axh {
        align-items: center;
        flex-shrink: 0;
        margin-right: 58.9rem;
        height: 100%;
        display: flex;

        .copyright-symbol-svgrepo-com-1-L6V {
          margin: 0.2rem 1rem 0rem 0rem;
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .restaurants-all-right-reserved-designed-by-yohan-oVs {
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .terms-of-service-privacy-policy-6js {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.8125;
        color: #5c6574;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
