
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-page-V6h {
  position: relative;
  overflow: hidden;
  background-color: #e5e4e4;
  width: 100%;
  height: 115.7rem;

  .footer-RW9 {
    height: 30.9rem;
    position: absolute;
    left: 0;
    top: 83.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 144.0001rem;

    .auto-group-z51a-MPo {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 21.2rem 2.6rem 7.1rem;
      width: calc(100% - 28.3001rem);
      height: 24rem;

      .auto-group-ezwv-GWm {
        box-sizing: border-box;
        padding-right: 8.6rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-38-p2V {
          width: 31.1rem;
          height: calc(100% - 6.1rem);
          position: relative;
          flex-shrink: 0;
          margin: 2rem 13.1rem 4.1rem 0rem;

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-LmX {
            width: 22.2rem;
            height: 11.6rem;
            position: absolute;
            left: 8.9rem;
            top: 6.3rem;
            line-height: 1.8125;
            color: #5c6574;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
          .beige-brown-illustration-restaurant-logo-no-bg-1-Coj {
            height: 7.2rem;
            position: relative;
            left: 0;
            top: 0;
            background-size: 100% 252.5%;
            background-position: -0rem -4.815rem;
            background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
            width: 20.2rem;
          }
        }
        .group-9-Tjf {
          height: 19.6rem;
          position: relative;
          flex-shrink: 0;
          margin-right: 10.5rem;
          width: 9.1rem;

          .menu-about-us-contact-us-main-dishes-nG9 {
            height: 16rem;
            position: absolute;
            color: #5c6574;
            width: 9.1rem;
            top: 3.6rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5;
            font-family: Inter, 'Source Sans Pro';
            left: 0;
          }
          .navigation-Tt5 {
            width: 7.7rem;
            height: 4rem;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            font-family: Inter, 'Source Sans Pro';
            line-height: 3.3333333333;
            color: #101a24;
            white-space: nowrap;
          }
        }
        .group-10-yrR {
          margin-right: 8.6rem;
          width: 12.7rem;
          height: 19.7rem;
          position: relative;
          flex-shrink: 0;

          .fish-viggies-tofu-chili-egg-cocumber-lumpia-w-suace-Xd3 {
            height: 16rem;
            position: absolute;
            left: 0;
            top: 3.7rem;
            line-height: 2.5;
            font-family: Inter, 'Source Sans Pro';
            width: 12.7rem;
            font-weight: 400;
            color: #5c6574;
            font-size: 1.6rem;
          }
          .dishes-cPb {
            height: 4rem;
            left: 0;
            line-height: 3.3333333333;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            width: 4.5rem;
            position: absolute;
            top: 0;
            white-space: nowrap;
          }
        }
        .group-11-873 {
          width: 7.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .follow-us-GDF {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 3.3333333333;
            text-transform: uppercase;
            color: #101a24;
          }
          .auto-group-e1z2-1Rj {
            box-sizing: border-box;
            padding: 1.3rem 1.812rem 0rem 1.4rem;
            width: 100%;
            row-gap: 0.8124rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .facebook-Xus {
              box-sizing: border-box;
              padding: 0.691rem 0.691rem 0.691rem 0.691rem;
              width: 100%;
              border: solid 0.1rem #101a24;
              border-radius: 1.9438rem;
              flex-shrink: 0;

              .image-1-GsT {
                width: 2.5053rem;
                height: 2.5053rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .group-40-yWy {
              width: 3.8876rem;
              height: 3.8876rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-39-ijT {
              width: 100%;
              height: 3.8876rem;
              position: relative;
              flex-shrink: 0;

              .facebook-HGm {
                vertical-align: top;
                width: 3.8876rem;
                height: 3.8876rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
              }
              .image-3-ESu {
                object-fit: cover;
                vertical-align: top;
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                left: 0.6876rem;
                top: 0.7rem;
              }
            }
          }
        }
      }
      .group-37-LF3 {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .opening-hours-V7w {
          white-space: nowrap;
          color: #101a24;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 700;
          line-height: 3.3333333333;
          text-transform: uppercase;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 1.2rem;
        }
        .monday-friday-8-00-am-to-9-00-pm-NxR {
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          max-width: 14.9rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .saturday-8-00-am-to-9-00-pm-JLH {
          margin-bottom: 0.5rem;
          max-width: 14.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .sunday-closed-zyo {
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 6.4rem;
          font-size: 1.6rem;
        }
      }
    }
    .line-2-vsT {
      height: 0.1rem;
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      width: 100%;
    }
    .auto-group-p3e8-xZF {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 5.3rem 0rem 7.1rem;
      width: calc(100% - 12.4001rem);
      height: 2.9rem;

      .copyright-TW1 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 58.9rem;
        height: 100%;

        .copyright-symbol-svgrepo-com-1-CiV {
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 1rem 0rem 0rem;
        }
        .restaurants-all-right-reserved-designed-by-yohan-KYD {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .terms-of-service-privacy-policy-SMw {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.8125;
        color: #5c6574;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .contatct-NFb {
    height: 136.5808rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 188.5554rem;

    .group-HtM {
      vertical-align: top;
      opacity: 0.2;
      width: 25.5554rem;
      height: 24.2448rem;
      position: absolute;
      left: 114.4rem;
      top: 55.9rem;
      object-fit: contain;
    }
    .group-2L9 {
      position: absolute;
      left: 52.4rem;
      top: 24.1rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.2;
      width: 36.3138rem;
      height: 15.5631rem;
    }
    .group-ABT {
      opacity: 0.2;
      height: 27.7808rem;
      left: 14.6rem;
      background-size: cover;
      width: 20.4728rem;
      position: absolute;
      top: 59.1rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:5:4577');

      .vector-VDj {
        height: 27.7768rem;
        object-fit: contain;
        vertical-align: top;
        width: 20.4616rem;
      }
    }
    .ellipse-3-DvR {
      object-fit: contain;
      vertical-align: top;
      width: 77.9rem;
      height: 77.8rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .ellipse-5-NoK {
      box-sizing: border-box;
      border-radius: 38.9rem;
      width: 77.8rem;
      height: 77.8rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.1rem rgba(16, 26, 36, 0.200000003);
    }
    .ellipse-4-HfP {
      vertical-align: top;
      width: 97.5291rem;
      height: 97.5291rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
    }
    .mask-group-Ead {
      top: 29.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 51.6rem;
      height: 38.5rem;
      position: absolute;
      left: 79.8rem;
    }
    .group-43-maZ {
      display: flex;
      column-gap: 2.6124rem;
      align-items: flex-start;
      width: 16.8876rem;
      height: 3.9876rem;
      position: absolute;
      left: 63.6rem;
      top: 74.8rem;

      .facebook-J4h {
        border: solid 0.1rem #101a24;
        border-radius: 1.9438rem;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        box-sizing: border-box;
        padding: 0.691rem 0.691rem 0.691rem 0.691rem;

        .image-1-DhT {
          vertical-align: top;
          width: 2.5053rem;
          height: 2.5053rem;
          object-fit: cover;
        }
      }
      .group-17-jQu {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 3.8876rem;
        height: 3.8876rem;
        position: relative;
      }
      .group-16-U7b {
        height: 3.8876rem;
        position: relative;
        flex-shrink: 0;
        width: 3.8876rem;

        .image-4-czV {
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 0.6876rem;
          top: 0.7rem;
          object-fit: cover;
          vertical-align: top;
        }
        .facebook-9zR {
          vertical-align: top;
          width: 3.8876rem;
          height: 3.8876rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
      }
    }
    .group-8-6Ps {
      border-radius: 1rem;
      width: 16.1818rem;
      height: 5.8rem;
      position: absolute;
      left: 35rem;
      top: 62rem;

      .rectangle-13-qMT {
        width: 16.1818rem;
        height: 5.7rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ea6d27;
        border-radius: 1rem;
      }
      .submit-NMP {
        position: absolute;
        left: 5.2909rem;
        text-align: center;
        font-size: 1.6rem;
        color: #ffffff;
        width: 5.6rem;
        height: 5.8rem;
        line-height: 3.625;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        top: 0;
        font-weight: 700;
      }
    }
    .group-13-4V7 {
      background-color: #ffffff;
      height: 5.8rem;
      line-height: 1.2125;
      color: #101a24;
      justify-content: center;
      white-space: nowrap;
      display: flex;
      border-radius: 1.5rem;
      position: absolute;
      top: 29.8rem;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 400;
      align-items: center;
      width: 25.1358rem;
      left: 45.9rem;
      text-align: center;
    }
    .group-14-hY5 {
      font-family: Inter, 'Source Sans Pro';
      box-sizing: border-box;
      width: 53.0764rem;
      left: 17.9rem;
      font-weight: 400;
      top: 37.5rem;
      line-height: 1.2125;
      color: #101a24;
      background-color: #ffffff;
      font-size: 1.8rem;
      white-space: nowrap;
      border-radius: 1.5rem;
      padding: 1.8rem 4.6108rem;
      height: 5.8rem;
      position: absolute;
      text-align: center;
    }
    .group-13-8tH {
      width: 53.4rem;
      height: 13.4rem;
      position: absolute;
      left: 17.6rem;
      top: 45.2rem;
      border-radius: 1.5rem;

      .rectangle-12-4X3 {
        width: 53.0764rem;
        height: 13.4rem;
        position: absolute;
        left: 0.3236rem;
        top: 0;
        background-color: #ffffff;
        border-radius: 1.5rem;
      }
      .message-C7T {
        line-height: 1.2125;
        height: 2.2rem;
        left: 4.8342rem;
        text-align: center;
        font-size: 1.8rem;
        color: #101a24;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.7rem;
        position: absolute;
        top: 1.7rem;
        font-weight: 400;
      }
    }
    .group-15-VcM {
      height: 5.8rem;
      line-height: 1.2125;
      color: #101a24;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      border-radius: 1.5rem;
      width: 25.1358rem;
      position: absolute;
      font-weight: 400;
      justify-content: center;
      background-color: #ffffff;
      font-size: 1.8rem;
      top: 29.8rem;
      text-align: center;
      white-space: nowrap;
      display: flex;
      left: 17.9rem;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-yGd {
      height: 2.9rem;
      left: 56rem;
      top: 21.2rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.8125;
      width: 30.5rem;
      position: absolute;
      color: #5c6574;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contact-us-TxV {
      font-weight: 700;
      color: #101a24;
      white-space: nowrap;
      width: 28rem;
      height: 6.5rem;
      top: 15rem;
      font-size: 6rem;
      line-height: 1.0833333333;
      font-family: David Libre, 'Source Sans Pro';
      position: absolute;
      left: 58rem;
      text-align: center;
    }
    .header-NZf {
      left: 7.7rem;
      top: 2.4rem;
      display: flex;
      align-items: center;
      width: 125.8rem;
      height: 8rem;
      position: absolute;

      .beige-brown-illustration-restaurant-logo-no-bg-1-JiD {
        width: 20.2rem;
        height: 8rem;
        position: relative;
        background-size: 100% 252.5%;
        background-position: -0rem -5.35rem;
        background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
        flex-shrink: 0;
      }
      .auto-group-qjbw-PzZ {
        box-sizing: border-box;
        padding: 0.8rem 0rem 0.8rem 22.4rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .navigation-vDo {
          flex-shrink: 0;
          margin: 1.8rem 25.1rem 1.7rem 0rem;
          height: calc(100% - 3.5rem);
          display: flex;
          align-items: center;

          .menu-e9o {
            margin-right: 4.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .category-Nbb {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.1rem;
          }
          .about-i9f {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
          }
          .contact-FfP {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .shopping-cart-zN5 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.6rem 0.1rem 0rem;
          width: 2.2rem;
          height: 2.1rem;
          object-fit: contain;
        }
        .navigation-button-iJ5 {
          line-height: 1.45;
          background-size: cover;
          flex-shrink: 0;
          width: 16.7rem;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-size: 2rem;
          font-weight: 500;
          font-family: David Libre, 'Source Sans Pro';
          white-space: nowrap;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:5:4590');
        }
      }
    }
  }
}
