
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-93o {
  box-sizing: border-box;
  padding-bottom: 2.7rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #e5e4e4;

  .auto-group-yyts-vyf {
    box-sizing: border-box;
    padding-bottom: 0.2192rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .home-dFo {
      margin: 0rem 9.045rem 0.019rem 0rem;
      width: 183.5554rem;
      height: 137.6808rem;
      position: relative;
      flex-shrink: 0;

      .group-X6H {
        left: 109.4rem;
        top: 31.9rem;
        object-fit: contain;
        vertical-align: top;
        opacity: 0.2;
        width: 25.5554rem;
        height: 24.2448rem;
        position: absolute;
      }
      .group-233 {
        opacity: 0.2;
        width: 36.3139rem;
        height: 15.5631rem;
        position: absolute;
        left: 60.9rem;
        top: 19.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-jy3 {
        width: 20.4728rem;
        height: 27.7808rem;
        position: absolute;
        left: 101.7rem;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.2;
        background-size: cover;
        background-image: url('REPLACE_IMAGE:2:31');
        top: 60.2rem;

        .vector-3D3 {
          width: 20.4616rem;
          height: 27.7768rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .ellipse-3-wZK {
        width: 77.9rem;
        height: 77.8rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-5-UZF {
        height: 77.8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem rgba(16, 26, 36, 0.200000003);
        box-sizing: border-box;
        border-radius: 38.9rem;
        width: 77.8rem;
      }
      .ellipse-4-nZw {
        height: 97.5291rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 97.5291rem;
      }
      .group-33-8do {
        position: absolute;
        left: 17.8rem;
        top: 17.7rem;
        display: flex;
        align-items: center;
        width: 110.2rem;
        height: 61.3rem;

        .auto-group-ey7n-FyK {
          flex-shrink: 0;
          margin: 14.2rem 20.5rem 5.252rem 0rem;
          width: 44.1rem;
          height: calc(100% - 19.4524rem);

          .welcome-to-our-restaurant-N2M {
            font-family: David Libre, 'Source Sans Pro';
            margin-bottom: 3.4rem;
            max-width: 44.1rem;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.015625;
            color: #101a24;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-aGq {
            max-width: 32.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-ay9j-Spq {
            box-sizing: border-box;
            padding-top: 5.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .auto-group-itoe-PEH {
              margin: 0rem 11.6rem 3.423rem 0rem;
              width: calc(100% - 11.6rem);
              height: 4.3771rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .navigation-button-fxV {
                font-size: 2rem;
                line-height: 1.45;
                color: #ffffff;
                font-family: David Libre, 'Source Sans Pro';
                text-align: center;
                background-position: center;
                flex-shrink: 0;
                height: 100%;
                white-space: nowrap;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('REPLACE_IMAGE:2:27');
                margin-right: 3.1rem;
                width: 12.6rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .navigation-button-7Jh {
                background-size: cover;
                font-weight: 500;
                font-family: David Libre, 'Source Sans Pro';
                align-items: center;
                flex-shrink: 0;
                white-space: nowrap;
                justify-content: center;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('REPLACE_IMAGE:2:24');
                line-height: 1.45;
                color: #ffffff;
                display: flex;
                width: 16.8rem;
                height: 100%;
                font-size: 2rem;
              }
            }
            .auto-group-rz2u-zNV {
              flex-shrink: 0;
              margin: 0rem 20.401rem 0rem 10rem;
              width: calc(100% - 30.4012rem);
              height: 3.6476rem;
              display: flex;
              column-gap: 1.378rem;
              align-items: center;

              .facebook-Gau {
                box-sizing: border-box;
                padding: 0.6485rem;
                height: 100%;
                border: solid 0.1rem #101a24;
                border-radius: 1.8238rem;
                flex-shrink: 0;

                .image-1-Qx1 {
                  width: 2.3507rem;
                  height: 2.3507rem;
                  object-fit: cover;
                  vertical-align: top;
                }
              }
              .auto-group-zwmw-Wk9 {
                flex-shrink: 0;
                width: 3.6476rem;
                height: 3.6476rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .auto-group-95jp-f7F {
                width: 3.6476rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .image-2-Q4q {
                  top: 0.4583rem;
                  object-fit: cover;
                  vertical-align: top;
                  width: 2.9rem;
                  height: 2.9rem;
                  position: absolute;
                  left: 0.3996rem;
                }
                .facebook-KxV {
                  object-fit: contain;
                  vertical-align: top;
                  width: 3.6476rem;
                  height: 3.6476rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
              }
            }
          }
        }
        .group-4-4QH {
          width: 45.6rem;
          height: 61.3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .header-AiD {
        width: 125.8rem;
        height: 8rem;
        position: absolute;
        left: 7.7rem;
        top: 2.4rem;
        display: flex;
        align-items: center;

        .beige-brown-illustration-restaurant-logo-no-bg-1-5qB {
          background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
          flex-shrink: 0;
          width: 20.2rem;
          height: 8rem;
          position: relative;
          background-size: 100% 252.5%;
          background-position: -0rem -5.35rem;
        }
        .auto-group-gphe-ZEZ {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 0rem 0.8rem 22.4rem;
          height: 100%;

          .navigation-Gem {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 1.8rem 25.1rem 1.7rem 0rem;
            height: calc(100% - 3.5rem);

            .menu-CHX {
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
            }
            .category-7vH {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.1rem;
            }
            .about-Fmb {
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
            }
            .contact-Bv9 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .shopping-cart-Jzm {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0.1rem 0rem;
            width: 2.2rem;
            height: 2.1rem;
            object-fit: contain;
          }
          .navigation-button-2fs {
            background-position: center;
            background-image: url('REPLACE_IMAGE:2:10');
            flex-shrink: 0;
            align-items: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            width: 16.7rem;
            white-space: nowrap;
            font-size: 2rem;
            background-size: cover;
            line-height: 1.45;
            color: #ffffff;
            font-family: David Libre, 'Source Sans Pro';
            height: 100%;
            font-weight: 500;
          }
        }
      }
    }
    .banner-7BX {
      height: 49.5rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 4.945rem 11.6rem 6.4rem;
      width: calc(100% - 11.3446rem);

      .group-pLq {
        position: absolute;
        left: 107.1rem;
        top: 18.3rem;
        object-fit: contain;
        vertical-align: top;
        opacity: 0.2;
        width: 25.5554rem;
        height: 24.2448rem;
      }
      .group-jyb {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        opacity: 0.2;
        width: 36.3139rem;
        height: 15.5631rem;
      }
      .group-32-51s {
        width: 115.1rem;
        height: 43.8rem;
        position: absolute;
        left: 8.1rem;
        top: 5.7rem;

        .rectangle-5-zed {
          left: 0;
          top: 3.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(222, 218, 218, 0.9800000191);
          border-radius: 2.5rem 7.5rem 2.5rem 7.5rem;
          width: 115.1rem;
          height: 40.7rem;
          position: absolute;
        }
        .group-1-5RB {
          align-items: center;
          width: 15.1rem;
          height: 4.4rem;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 20rem;
          font-size: 2rem;
          font-weight: 800;
          color: #eae5d9;
          display: flex;
          justify-content: center;
          position: absolute;
          left: 71.6rem;
          top: 31.7rem;
          background-color: #d21200;
          line-height: 1.2125;
        }
        .limited-offer-by-using-promocode-only-rs250-vAu {
          position: absolute;
          font-size: 2.4rem;
          font-weight: 400;
          letter-spacing: -0.264rem;
          font-family: Cutive Mono, 'Source Sans Pro';
          width: 52.4rem;
          height: 3.5rem;
          left: 54.9rem;
          top: 24.7rem;
          line-height: 1.4375;
          color: #000000;
          white-space: nowrap;
        }
        .healthy-vegetable-salad-fish-top-view-white-background-flat-lay-143617738-removebg-preview-1-bH3 {
          height: 38.2rem;
          position: absolute;
          left: 8.9rem;
          top: 4.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 46.1rem;
        }
        .healthy-vegetable-salad-fish-top-view-white-background-flat-lay-143617738-removebg-preview-2-G8H {
          height: 38.2rem;
          position: absolute;
          left: 7.5rem;
          top: 3.1rem;
          object-fit: cover;
          vertical-align: top;
          width: 46.1rem;
        }
        .image-11-kp9 {
          object-fit: cover;
          vertical-align: top;
          width: 17.6271rem;
          height: 15.5704rem;
          position: absolute;
          left: 9.3rem;
          top: 0;
        }
        .we-provide-the-best-food-for-you-VWq {
          font-family: David Libre, 'Source Sans Pro';
          height: 14.4rem;
          position: absolute;
          text-align: center;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.5;
          width: 52.5rem;
          left: 52.85rem;
          top: 9.9rem;
          color: #101a24;
        }
      }
    }
    .auto-group-jd4u-NKj {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0rem 0.019rem 15.373rem;
      width: 118.7728rem;
      height: 65.4808rem;

      .categories-snH {
        left: 0;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 98.5rem;
        height: 55.8rem;
        position: absolute;

        .auto-group-8gqn-R37 {
          box-sizing: border-box;
          padding: 0rem 21.05rem 1.8rem 21.05rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .top-list-is-back-k5P {
            line-height: 1.0833333333;
            color: #101a24;
            font-family: David Libre, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 6rem;
            font-weight: 700;
          }
          .all-our-best-meals-in-one-delicious-snap-gDw {
            color: #282828;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.2125;
          }
        }
        .auto-group-nzny-P8M {
          margin-bottom: 6.4rem;
          width: 100%;
          height: 35.3rem;
          position: relative;
          flex-shrink: 0;

          .group-34-iRX {
            height: 30.6rem;
            position: absolute;
            left: 0;
            top: 4.7rem;
            display: flex;
            align-items: flex-end;
            width: 98.5rem;

            .auto-group-gvrj-ea5 {
              margin-right: 0.5rem;
              width: 68rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .group-2-ysF {
                backdrop-filter: blur(0.2rem);
                width: 35rem;
                height: 30rem;
                position: absolute;
                left: 0;
                top: 0.3rem;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

                .rectangle-15-7iZ {
                  position: absolute;
                  left: 2.9rem;
                  top: 0;
                  box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
                  background-color: #dad7d7;
                  border-radius: 1.5rem;
                  width: 30rem;
                  height: 30rem;
                }
                .image-removebg-preview-6-1-RUM {
                  object-fit: cover;
                  vertical-align: top;
                  width: 35rem;
                  height: 27.7rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                .buggers-8tZ {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 8.2rem;
                  height: 2.6rem;
                  top: 25.5rem;
                  text-align: center;
                  font-weight: 600;
                  color: #101a24;
                  position: absolute;
                  left: 13.4rem;
                  font-size: 2rem;
                  line-height: 1.3;
                }
              }
              .group-3-cHw {
                left: 33.2rem;
                top: 0;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(0.2rem);
                width: 34.8rem;
                height: 30.6rem;
                position: absolute;

                .rectangle-15-Ljj {
                  top: 0.6rem;
                  box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
                  background-color: #dad7d7;
                  border-radius: 1.5rem;
                  width: 30rem;
                  height: 30rem;
                  position: absolute;
                  left: 2.4rem;
                }
                .image-removebg-preview-8-1-rCH {
                  width: 34.8rem;
                  height: 29rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  object-fit: cover;
                  vertical-align: top;
                }
                .chinees-food-PCD {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 13.3rem;
                  text-align: center;
                  font-size: 2rem;
                  top: 26.1rem;
                  font-weight: 600;
                  line-height: 1.3;
                  color: #101a24;
                  height: 2.6rem;
                  position: absolute;
                  left: 10.8rem;
                }
              }
            }
            .group-2-SwB {
              box-sizing: border-box;
              align-items: center;
              background-color: #dad7d7;
              border-radius: 1.5rem;
              padding: 3.5rem 0.743rem 1.9rem 0.8rem;
              width: 30rem;
              display: flex;
              flex-direction: column;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              backdrop-filter: blur(0.2rem);
              flex-shrink: 0;

              .image-removebg-preview-9-1-Npq {
                flex-shrink: 0;
                margin-bottom: 1.1857rem;
                width: 28.4571rem;
                height: 20.8143rem;
                object-fit: cover;
                vertical-align: top;
              }
              .salads-JiV {
                margin-right: 0.0571rem;
                color: #101a24;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.3;
                flex-shrink: 0;
              }
            }
          }
          .group-xHF {
            left: 28.6rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            opacity: 0.2;
            width: 36.3139rem;
            height: 15.5631rem;
            position: absolute;
          }
        }
        .group-35-68Z {
          display: flex;
          column-gap: 1.6rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 42.4rem 0rem 47.4rem;
          width: calc(100% - 89.8rem);

          .ellipse-13-Q9F {
            width: 1.8rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-14-9Mj {
            width: 1.9rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-15-e3b {
            width: 1.8rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-PG5 {
        background-position: center;
        background-image: url('REPLACE_IMAGE:4:85');
        opacity: 0.2;
        width: 20.4728rem;
        height: 27.7808rem;
        position: absolute;
        background-size: cover;
        left: 98.3rem;
        top: 37.7rem;
        background-repeat: no-repeat;

        .vector-ukD {
          width: 20.4616rem;
          height: 27.7768rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .about-Qws {
      margin: 0rem 8rem 7.4rem 4.7rem;
      width: calc(100% - 12.7rem);
      height: 77.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-cwuc-YHP {
        position: relative;
        flex-shrink: 0;
        margin-right: 7.7rem;
        width: 67.2rem;
        height: 100%;

        .group-4Wd {
          height: 30.3432rem;
          position: absolute;
          left: 0;
          top: 36.3rem;
          background-position: center;
          background-image: url('REPLACE_IMAGE:4:133');
          opacity: 0.1;
          background-size: cover;
          background-repeat: no-repeat;
          width: 29rem;

          .vector-CMw {
            width: 29rem;
            height: 30.3432rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-4-LU9 {
          vertical-align: top;
          width: 51.6rem;
          height: 71.2rem;
          position: absolute;
          left: 5.9rem;
          top: 0;
          object-fit: contain;
        }
        .group-5-tEm {
          object-fit: contain;
          vertical-align: top;
          width: 51.6rem;
          height: 71.2rem;
          position: absolute;
          left: 15.6rem;
          top: 6.7rem;
        }
      }
      .auto-group-uboe-oMj {
        flex-direction: column;
        flex-shrink: 0;
        margin: 11.6rem 0rem 6.7rem 0rem;
        width: 56.4rem;
        height: calc(100% - 18.3rem);
        align-items: center;
        display: flex;

        .about-izV {
          font-weight: 700;
          line-height: 0.965;
          letter-spacing: 0.7rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.4rem 2rem 0rem;
          font-size: 4rem;
          color: #000000;
          font-family: David Libre, 'Source Sans Pro';
        }
        .auto-group-gccx-31B {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 53.7rem;

          .group-amo {
            left: 9.2rem;
            top: 16rem;
            object-fit: contain;
            vertical-align: top;
            width: 32.7rem;
            height: 37.7rem;
            position: absolute;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-8HX {
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            width: 56.4rem;
            height: 26.1rem;
            left: 0;
            top: 18.3rem;
            font-weight: 400;
            position: absolute;
            font-size: 1.6rem;
            line-height: 1.8125;
          }
          .group-3-zyw {
            font-size: 1.3rem;
            color: #eae5d9;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            width: 9rem;
            position: absolute;
            font-weight: 600;
            border-radius: 20rem;
            align-items: center;
            background-color: #d21200;
            left: 23.6rem;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.2125;
            height: 2.2rem;
            top: 45.7rem;
          }
          .beige-brown-illustration-restaurant-logo-no-bg-1-pxy {
            position: relative;
            left: 3.1rem;
            top: 0;
            background-size: 100% 252.5%;
            background-position: -0rem -11.77rem;
            background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
            width: 44.4rem;
            height: 17.6rem;
          }
        }
      }
    }
    .menu-hG5 {
      flex-shrink: 0;
      margin: 0rem 8.1rem 2.3rem 7.9rem;
      width: calc(100% - 16rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .our-special-dishes-pbb {
        line-height: 1.0833333333;
        color: #101a24;
        font-family: David Libre, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 6rem;
        font-weight: 700;
      }
      .auto-group-9mje-ww7 {
        margin-bottom: 6rem;
        width: 100%;
        height: 48.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-escc-gdo {
          flex-shrink: 0;
          width: 29.6547rem;
          height: 100%;
          position: relative;

          .group-qWh {
            position: absolute;
            left: 2.1rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            opacity: 0.1;
            width: 27.5547rem;
            height: 14.818rem;
          }
          .food-card-9XP {
            width: 26.5rem;
            height: 41.1rem;
            position: absolute;
            left: 0;
            top: 7.4rem;

            .rectangle-7-fEq {
              left: 0;
              top: 10.2rem;
              object-fit: contain;
              vertical-align: top;
              width: 26.5rem;
              height: 30.9rem;
              position: absolute;
            }
            .lorem-ipsum-dolor-sit-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-obw {
              left: 2rem;
              position: absolute;
              height: 7.8rem;
              top: 29rem;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.7333333333;
              color: #5c6574;
              width: 22.5rem;
              font-family: Inter, 'Source Sans Pro';
            }
            .fish-and-veggie-HX7 {
              position: absolute;
              left: 6.5rem;
              text-align: center;
              font-weight: 700;
              white-space: nowrap;
              width: 13.7rem;
              height: 2.6rem;
              line-height: 1.3;
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
              top: 24.3rem;
              font-size: 2rem;
            }
            .dish-3-1-mhB {
              width: 20.7rem;
              height: 20.7rem;
              position: absolute;
              left: 1.7rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .price-skD {
              position: absolute;
              text-align: center;
              display: flex;
              line-height: 1.625;
              justify-content: center;
              height: 5.4rem;
              top: 4.7rem;
              font-size: 1.6rem;
              font-weight: 700;
              background-color: #101a24;
              box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25);
              left: 19.7rem;
              color: #ffffff;
              white-space: nowrap;
              align-items: center;
              width: 5.4rem;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 2.7rem;
            }
          }
        }
        .auto-group-z4xp-gBs {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.7rem 0rem 0rem 4.245rem;
          height: 100%;
          display: flex;
          align-items: flex-end;

          .auto-group-jmng-P6H {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.2rem;
            width: 60.4rem;

            .lorem-ipsum-dolor-sit-amet-consectetur-XTP {
              margin: 0rem 0rem 3.8rem 0.1rem;
              font-size: 1.6rem;
              flex-shrink: 0;
              text-align: center;
              font-weight: 400;
              line-height: 1.8125;
              color: #5c6574;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-tust-qU5 {
              width: 100%;
              height: 41.1rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .food-card-zLy {
                margin-right: 7.4rem;
                width: 26.5rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .rectangle-7-CT3 {
                  width: 26.5rem;
                  height: 30.9rem;
                  position: absolute;
                  left: 0;
                  top: 10.2rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .lorem-ipsum-dolor-sit-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-wfX {
                  height: 7.8rem;
                  left: 2rem;
                  line-height: 1.7333333333;
                  font-family: Inter, 'Source Sans Pro';
                  font-weight: 400;
                  color: #5c6574;
                  width: 22.5rem;
                  position: absolute;
                  top: 29rem;
                  text-align: center;
                  font-size: 1.5rem;
                }
                .dish-5-CbT {
                  width: 20.7rem;
                  height: 20.7rem;
                  position: absolute;
                  left: 2.9rem;
                  top: 0;
                  object-fit: cover;
                  vertical-align: top;
                }
                .tofu-chili-w3F {
                  top: 24.3rem;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.3;
                  text-align: center;
                  color: #101a24;
                  font-family: David Libre, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 8.6rem;
                  height: 2.6rem;
                  position: absolute;
                  left: 9rem;
                }
                .price-eTT {
                  height: 5.4rem;
                  left: 19.7rem;
                  font-size: 1.6rem;
                  line-height: 1.625;
                  align-items: center;
                  width: 5.4rem;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  justify-content: center;
                  background-color: #101a24;
                  text-align: center;
                  font-weight: 700;
                  border-radius: 2.7rem;
                  position: absolute;
                  white-space: nowrap;
                  display: flex;
                  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25);
                  top: 4.7rem;
                }
              }
              .auto-group-jdvg-daH {
                width: 26.5rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .group-x6m {
                  position: absolute;
                  left: 16.7rem;
                  top: 18.6rem;
                  background-size: cover;
                  background-image: url('REPLACE_IMAGE:4:130');
                  opacity: 0.1;
                  width: 9.0333rem;
                  height: 8.1848rem;
                  background-repeat: no-repeat;
                  background-position: center;

                  .vector-gHf {
                    width: 9.0333rem;
                    height: 8.1848rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
                .food-card-DHb {
                  height: 41.1rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 26.5rem;

                  .rectangle-7-kYR {
                    top: 10.2rem;
                    object-fit: contain;
                    vertical-align: top;
                    width: 26.5rem;
                    height: 30.9rem;
                    position: absolute;
                    left: 0;
                  }
                  .lorem-ipsum-dolor-sit-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-r5f {
                    color: #5c6574;
                    font-family: Inter, 'Source Sans Pro';
                    width: 22.5rem;
                    left: 2rem;
                    top: 29rem;
                    line-height: 1.7333333333;
                    font-weight: 400;
                    height: 7.8rem;
                    position: absolute;
                    text-align: center;
                    font-size: 1.5rem;
                  }
                  .egg-and-cocumber-LWd {
                    width: 16.1rem;
                    height: 2.6rem;
                    font-weight: 700;
                    color: #101a24;
                    white-space: nowrap;
                    line-height: 1.3;
                    font-family: David Libre, 'Source Sans Pro';
                    position: absolute;
                    left: 5.3rem;
                    top: 24.3rem;
                    text-align: center;
                    font-size: 2rem;
                  }
                  .dish-4-qCV {
                    height: 20.7rem;
                    position: absolute;
                    left: 2.9rem;
                    top: 0;
                    object-fit: cover;
                    vertical-align: top;
                    width: 20.7rem;
                  }
                  .price-mrq {
                    position: absolute;
                    font-weight: 700;
                    line-height: 1.625;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    background-color: #101a24;
                    width: 5.4rem;
                    left: 19.7rem;
                    display: flex;
                    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25);
                    text-align: center;
                    font-size: 1.6rem;
                    justify-content: center;
                    height: 5.4rem;
                    top: 4.7rem;
                    white-space: nowrap;
                    align-items: center;
                    border-radius: 2.7rem;
                  }
                }
              }
            }
          }
          .auto-group-cdbw-pq7 {
            width: 30.5rem;
            height: 41.1rem;
            position: relative;
            flex-shrink: 0;

            .group-n1F {
              width: 9.8756rem;
              height: 22.0858rem;
              display: flex;
              flex-direction: column;
              opacity: 0.2;
              position: absolute;
              left: 0;
              top: 14.1rem;
              align-items: center;

              .vector-FvR {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0rem 6.514rem 2.2rem;
                width: 7.6756rem;
                height: 7.7858rem;
                object-fit: contain;
              }
              .vector-mds {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.2rem;
                width: 7.6756rem;
                height: 7.7858rem;
                object-fit: contain;
              }
            }
            .food-card-1-vFs {
              top: 0;
              width: 26.5rem;
              height: 41.1rem;
              position: absolute;
              left: 4rem;

              .rectangle-7-exZ {
                left: 0;
                top: 10.2rem;
                object-fit: contain;
                vertical-align: top;
                width: 26.5rem;
                height: 30.9rem;
                position: absolute;
              }
              .dish-1-1-Pv9 {
                height: 20.7rem;
                position: absolute;
                left: 2.9rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 20.7rem;
              }
              .lorem-ipsum-dolor-sit-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-LaV {
                left: 2rem;
                font-size: 1.5rem;
                font-weight: 400;
                color: #5c6574;
                font-family: Inter, 'Source Sans Pro';
                width: 22.5rem;
                height: 7.8rem;
                position: absolute;
                top: 29rem;
                text-align: center;
                line-height: 1.7333333333;
              }
              .lumpia-with-suace-Efs {
                height: 2.6rem;
                line-height: 1.3;
                width: 16.4rem;
                position: absolute;
                left: 5.1rem;
                top: 24.3rem;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                color: #101a24;
                font-family: David Libre, 'Source Sans Pro';
                white-space: nowrap;
              }
              .price-LU1 {
                position: absolute;
                top: 4.7rem;
                justify-content: center;
                width: 5.4rem;
                left: 19.7rem;
                text-align: center;
                color: #ffffff;
                font-size: 1.6rem;
                font-weight: 700;
                font-family: Inter, 'Source Sans Pro';
                align-items: center;
                border-radius: 2.7rem;
                box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25);
                height: 5.4rem;
                line-height: 1.625;
                white-space: nowrap;
                display: flex;
                background-color: #101a24;
              }
            }
          }
        }
      }
      .group-36-z2m {
        margin: 0rem 59.5rem 0rem 59.8rem;
        width: calc(100% - 119.3rem);
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
        flex-shrink: 0;

        .ellipse-13-uQd {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.8rem;
          height: 2.1rem;
        }
        .ellipse-14-FUV {
          vertical-align: top;
          flex-shrink: 0;
          width: 1.9rem;
          height: 2.1rem;
          object-fit: contain;
        }
        .ellipse-15-1Cm {
          vertical-align: top;
          flex-shrink: 0;
          width: 1.8rem;
          height: 2.1rem;
          object-fit: contain;
        }
      }
    }
    .auto-group-v1gu-9pm {
      margin: 0rem 14.145rem 7.819rem 21.3rem;
      width: calc(100% - 35.4446rem);
      height: 60.4808rem;
      position: relative;
      flex-shrink: 0;

      .group-qhb {
        top: 35.4rem;
        object-fit: contain;
        vertical-align: top;
        opacity: 0.2;
        width: 25.5554rem;
        height: 24.2448rem;
        position: absolute;
        left: 83rem;
      }
      .book-NBj {
        display: flex;
        align-items: flex-start;
        width: 104.9139rem;
        height: 60.4808rem;
        position: absolute;
        left: 0;
        top: 0;

        .auto-group-ne3s-WHw {
          margin: 12.3rem 3.95rem 0rem 0rem;
          width: 57.3rem;
          height: 48.1808rem;
          position: relative;
          flex-shrink: 0;

          .group-ddT {
            opacity: 0.2;
            width: 20.4728rem;
            height: 27.7808rem;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:5:52');
            position: absolute;
            top: 20.4rem;
            background-position: center;

            .vector-yBX {
              width: 20.4616rem;
              height: 27.7768rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .mask-group-WSM {
            width: 48.8rem;
            height: 40.7rem;
            position: absolute;
            left: 8.5rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-6ahn-SL1 {
          width: 43.6639rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-ah7 {
            width: 36.3139rem;
            height: 15.5631rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 4.237rem 7.35rem;
            opacity: 0.2;
          }
          .reserve-your-seat-JND {
            font-weight: 700;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 4.364rem 2rem 0rem;
            text-align: center;
            font-size: 5rem;
            line-height: 1.16;
            color: #403e3e;
            font-family: David Libre, 'Source Sans Pro';
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-learn-more-c81 {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.364rem 2.3rem 0rem;
            max-width: 38.6rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #5c6574;

            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-learn-more-c81-sub-0 {
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-learn-more-c81-sub-1 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              text-decoration-line: underline;
              color: #5c6574;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .group-8-VDj {
            margin: 0rem 16.514rem 0rem 12.15rem;
            width: calc(100% - 28.6639rem);
            height: 5.8rem;
            position: relative;
            border-radius: 1rem;
            flex-shrink: 0;

            .rectangle-13-DQd {
              left: 0;
              top: 0;
              background-color: #ea6d27;
              border-radius: 1rem;
              width: 15rem;
              height: 5.7rem;
              position: absolute;
            }
            .book-seat-9ZB {
              white-space: nowrap;
              width: 7.9rem;
              left: 3.6rem;
              text-align: center;
              font-weight: 700;
              line-height: 3.625;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              height: 5.8rem;
              position: absolute;
              top: 0;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    .review-38m {
      width: 134.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-left: 14.7rem;

      .our-happy-customers-BEy {
        margin: 0rem 21rem 0.8rem 0rem;
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.0833333333;
        color: #101a24;
        font-family: David Libre, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-bbq2-VWZ {
        flex-shrink: 0;
        width: 100%;
        height: 71.9808rem;
        position: relative;

        .group-QtR {
          opacity: 0.2;
          width: 20.4728rem;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:5:88');
          height: 27.7808rem;
          position: absolute;
          left: 80.2rem;
          top: 44.2rem;
          background-size: cover;

          .vector-YUq {
            vertical-align: top;
            width: 20.4616rem;
            height: 27.7768rem;
            object-fit: contain;
          }
        }
        .group-4CH {
          top: 4.4rem;
          object-fit: contain;
          vertical-align: top;
          opacity: 0.2;
          width: 36.3139rem;
          height: 15.5631rem;
          position: absolute;
          left: 38.9rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-n8H {
          width: 37.5rem;
          position: absolute;
          left: 36.85rem;
          top: 0;
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.8125;
          color: #5c6574;
          height: 5.8rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
        .testimonial-pam {
          height: 44.6rem;
          position: absolute;
          left: 0;
          top: 10.7rem;
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.0700000003);
          width: 63.9rem;

          .rectangle-10-D77 {
            position: absolute;
            left: 0;
            top: 5.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 63.9rem;
            height: 39.1rem;
          }
          .mask-group-woo {
            vertical-align: top;
            width: 10.9rem;
            height: 10.9rem;
            position: absolute;
            left: 26.5rem;
            top: 0;
            object-fit: contain;
          }
          .testimonial-text-Hcm {
            width: 37.9rem;
            height: 20rem;
            position: absolute;
            left: 14.5rem;
            top: 15.9rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .lorem-ipsum-dolor-sit-amet-consectetur-tortor-massa-nisl-quam-sit-vitae-congue-ultrices-neque-penatibus-mi-in-quisque-leo-in-cursus-enim-magnis-ante-proin-iaculis-platea-ipsum-sagittis-ac-eu-aliquam-quis-ornare-tincidunt-tempus-semper-DWR {
              text-align: center;
              font-weight: 400;
              line-height: 1.8125;
              margin-bottom: 2.6rem;
              max-width: 37.9rem;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.6rem;
              color: #5c6574;
            }
            .ama-ampomah-EAd {
              margin-right: 2.3rem;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .testimonial-jdB {
          height: 44.6rem;
          position: absolute;
          left: 70.4rem;
          top: 10.7rem;
          box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.0700000003);
          width: 63.9rem;

          .rectangle-10-sDb {
            object-fit: contain;
            vertical-align: top;
            width: 63.9rem;
            height: 39.1rem;
            position: absolute;
            left: 0;
            top: 5.5rem;
          }
          .mask-group-PSq {
            width: 10.9rem;
            height: 10.9rem;
            position: absolute;
            left: 26.5rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
          .testimonial-text-XZ3 {
            flex-direction: column;
            width: 37.9rem;
            height: 19.7rem;
            position: absolute;
            left: 14.3rem;
            top: 15.9rem;
            align-items: center;
            display: flex;

            .lorem-ipsum-dolor-sit-amet-consectetur-tortor-massa-nisl-quam-sit-vitae-congue-ultrices-neque-penatibus-mi-in-quisque-leo-in-cursus-enim-magnis-ante-proin-iaculis-platea-ipsum-sagittis-ac-eu-aliquam-quis-ornare-tincidunt-tempus-semper-f9T {
              font-weight: 400;
              color: #5c6574;
              max-width: 37.9rem;
              text-align: center;
              font-size: 1.6rem;
              flex-shrink: 0;
              margin-bottom: 2.3rem;
              line-height: 1.8125;
              font-family: Inter, 'Source Sans Pro';
            }
            .kweku-annan-6Em {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.8125;
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 5.1rem;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .group-36-afj {
          left: 53rem;
          top: 60.3rem;
          display: flex;
          column-gap: 1.6rem;
          align-items: center;
          width: 8.7rem;
          height: 2.1rem;
          position: absolute;

          .ellipse-13-uT7 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.8rem;
            height: 2.1rem;
          }
          .ellipse-14-efb {
            width: 1.9rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-15-Ch7 {
            width: 1.8rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .footer-L2d {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .auto-group-nnm6-sHT {
      margin: 0rem 21.2rem 2.6rem 7.1rem;
      width: calc(100% - 28.3001rem);
      height: 24rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-rrwa-ahf {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 8.6rem;
        height: 100%;

        .group-38-iYy {
          margin: 2rem 13.1rem 4.1rem 0rem;
          width: 31.1rem;
          height: calc(100% - 6.1rem);
          position: relative;
          flex-shrink: 0;

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-qtV {
            height: 11.6rem;
            left: 8.9rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #5c6574;
            width: 22.2rem;
            position: absolute;
            top: 6.3rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .beige-brown-illustration-restaurant-logo-no-bg-1-Wjj {
            height: 7.293rem;
            position: relative;
            left: 0;
            top: 0;
            background-size: 100% 252.5%;
            background-position: -0rem -4.8772rem;
            background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
            width: 20.2rem;
          }
        }
        .group-9-nhF {
          margin-right: 10.5rem;
          width: 9.1rem;
          height: 19.6rem;
          position: relative;
          flex-shrink: 0;

          .menu-about-us-contact-us-main-dishes-8FK {
            font-weight: 400;
            color: #5c6574;
            left: 0;
            top: 3.6rem;
            font-size: 1.6rem;
            line-height: 2.5;
            font-family: Inter, 'Source Sans Pro';
            width: 9.1rem;
            height: 16rem;
            position: absolute;
          }
          .navigation-cwB {
            text-transform: uppercase;
            width: 7.7rem;
            height: 4rem;
            position: absolute;
            font-size: 1.2rem;
            font-weight: 700;
            white-space: nowrap;
            left: 0;
            top: 0;
            line-height: 3.3333333333;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .group-10-8uX {
          margin-right: 8.6rem;
          width: 12.7rem;
          height: 19.7rem;
          position: relative;
          flex-shrink: 0;

          .fish-viggies-tofu-chili-egg-cocumber-lumpia-w-suace-t81 {
            width: 12.7rem;
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            line-height: 2.5;
            height: 16rem;
            top: 3.7rem;
            font-weight: 400;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
          }
          .dishes-nDP {
            position: absolute;
            left: 0;
            color: #101a24;
            line-height: 3.3333333333;
            text-transform: uppercase;
            font-family: Inter, 'Source Sans Pro';
            width: 4.5rem;
            height: 4rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 700;
            white-space: nowrap;
          }
        }
        .group-11-JBj {
          width: 7.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .follow-us-T4d {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 3.3333333333;
            text-transform: uppercase;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-1aau-bAq {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.3rem 1.812rem 0rem 1.4rem;
            width: 100%;
            row-gap: 0.8124rem;
            align-items: center;
            display: flex;

            .facebook-uSR {
              box-sizing: border-box;
              padding: 0.691rem 0.691rem 0.691rem 0.691rem;
              width: 100%;
              border: solid 0.1rem #101a24;
              border-radius: 1.9438rem;
              flex-shrink: 0;

              .image-1-qqs {
                width: 2.5053rem;
                height: 2.5053rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .group-40-ZG5 {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.8876rem;
              height: 3.8876rem;
              position: relative;
              object-fit: contain;
            }
            .group-39-VQd {
              position: relative;
              flex-shrink: 0;
              width: 100%;
              height: 3.8876rem;

              .facebook-3S9 {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 3.8876rem;
                height: 3.8876rem;
              }
              .image-3-C49 {
                top: 0.7rem;
                object-fit: cover;
                vertical-align: top;
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                left: 0.6876rem;
              }
            }
          }
        }
      }
      .group-37-5dj {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .opening-hours-2Yy {
          color: #101a24;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 1.2rem;
          line-height: 3.3333333333;
          text-transform: uppercase;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .monday-friday-8-00-am-to-9-00-pm-ZJ1 {
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          max-width: 14.9rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .saturday-8-00-am-to-9-00-pm-sJh {
          max-width: 14.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.5rem;
        }
        .sunday-closed-aiu {
          flex-shrink: 0;
          max-width: 6.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .line-2-tUh {
      margin-bottom: 1.3rem;
      width: 100%;
      height: 0.1rem;
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
    }
    .auto-group-rpbe-pt9 {
      margin: 0rem 5.3rem 0rem 7.1rem;
      width: calc(100% - 12.4001rem);
      height: 2.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .copyright-9Qd {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 58.9rem;
        height: 100%;

        .copyright-symbol-svgrepo-com-1-hS9 {
          margin: 0.2rem 1rem 0rem 0rem;
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .restaurants-all-right-reserved-designed-by-yohan-niV {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
        }
      }
      .terms-of-service-privacy-policy-4g1 {
        font-weight: 400;
        line-height: 1.8125;
        color: #5c6574;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
  }
}
