
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-9A9 {
  width: 100%;
  height: 187.9rem;
  position: relative;
  overflow: hidden;
  background-color: #e5e4e4;

  .footer-Sf3 {
    height: 30.9rem;
    position: absolute;
    left: 0;
    top: 153.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 144.0002rem;

    .auto-group-zqel-ZUm {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 21.2rem 2.6rem 7.1rem;
      width: calc(100% - 28.3002rem);
      height: 24rem;

      .auto-group-7wsu-eWD {
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 8.6rem;

        .group-38-ncR {
          position: relative;
          flex-shrink: 0;
          margin: 2rem 13.1rem 4.1rem 0rem;
          width: 31.1rem;
          height: calc(100% - 6.1rem);

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-6d7 {
            position: absolute;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            width: 22.2rem;
            left: 8.9rem;
            top: 6.3rem;
            line-height: 1.8125;
            color: #5c6574;
            height: 11.6rem;
          }
          .beige-brown-illustration-restaurant-logo-no-bg-1-kbB {
            background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
            width: 20.2rem;
            height: 7.2rem;
            position: relative;
            left: 0;
            top: 0;
            background-size: 100% 252.5%;
            background-position: -0rem -4.815rem;
          }
        }
        .group-9-EFT {
          height: 19.6rem;
          position: relative;
          flex-shrink: 0;
          margin-right: 10.5rem;
          width: 9.1rem;

          .menu-about-us-contact-us-main-dishes-wvZ {
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            width: 9.1rem;
            top: 3.6rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.5;
            height: 16rem;
            position: absolute;
            left: 0;
          }
          .navigation-rGq {
            font-weight: 700;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            height: 4rem;
            left: 0;
            top: 0;
            font-size: 1.2rem;
            line-height: 3.3333333333;
            text-transform: uppercase;
            white-space: nowrap;
            width: 7.7rem;
          }
        }
        .group-10-xqf {
          height: 19.7rem;
          position: relative;
          flex-shrink: 0;
          margin-right: 8.6rem;
          width: 12.7rem;

          .fish-viggies-tofu-chili-egg-cocumber-lumpia-w-suace-W6V {
            position: absolute;
            font-weight: 400;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            height: 16rem;
            left: 0;
            top: 3.7rem;
            font-size: 1.6rem;
            line-height: 2.5;
            width: 12.7rem;
          }
          .dishes-Ck1 {
            width: 4.5rem;
            font-weight: 700;
            line-height: 3.3333333333;
            text-transform: uppercase;
            color: #101a24;
            white-space: nowrap;
            height: 4rem;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .group-11-Wkh {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 7.1rem;
          align-items: center;

          .follow-us-TR3 {
            line-height: 3.3333333333;
            text-transform: uppercase;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .auto-group-fmdj-NY1 {
            padding: 1.3rem 1.813rem 0rem 1.4rem;
            width: 100%;
            row-gap: 0.8124rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .facebook-dTw {
              box-sizing: border-box;
              padding: 0.691rem 0.691rem 0.691rem 0.691rem;
              width: 100%;
              border: solid 0.1rem #101a24;
              border-radius: 1.9438rem;
              flex-shrink: 0;

              .image-1-xFK {
                width: 2.5053rem;
                height: 2.5053rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .group-40-4ZF {
              width: 3.8875rem;
              height: 3.8876rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-39-1UV {
              width: 100%;
              height: 3.8876rem;
              position: relative;
              flex-shrink: 0;

              .facebook-MHT {
                height: 3.8876rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 3.8875rem;
              }
              .image-3-Fdj {
                top: 0.7rem;
                object-fit: cover;
                vertical-align: top;
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                left: 0.6875rem;
              }
            }
          }
        }
      }
      .group-37-mry {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .opening-hours-Xr9 {
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.2rem;
          line-height: 3.3333333333;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 700;
          text-transform: uppercase;
          color: #101a24;
        }
        .monday-friday-8-00-am-to-9-00-pm-FGM {
          margin-bottom: 0.6rem;
          max-width: 14.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .saturday-8-00-am-to-9-00-pm-Znq {
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          max-width: 14.9rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .sunday-closed-HD3 {
          flex-shrink: 0;
          max-width: 6.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .line-2-D6h {
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      width: 100%;
      height: 0.1rem;
    }
    .auto-group-hqzn-9W9 {
      margin: 0rem 5.3rem 0rem 7.1rem;
      width: calc(100% - 12.4002rem);
      height: 2.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .copyright-sS9 {
        flex-shrink: 0;
        margin-right: 58.9rem;
        height: 100%;
        display: flex;
        align-items: center;

        .copyright-symbol-svgrepo-com-1-psB {
          flex-shrink: 0;
          margin: 0.2rem 1rem 0rem 0rem;
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
          vertical-align: top;
        }
        .restaurants-all-right-reserved-designed-by-yohan-LqX {
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .terms-of-service-privacy-policy-ros {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.8125;
        color: #5c6574;
      }
    }
  }
  .menu-bFf {
    width: 188.5555rem;
    height: 214.1631rem;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-pryw-jcm {
      margin-bottom: 2.9rem;
      width: 100%;
      height: 195.7rem;
      position: relative;
      flex-shrink: 0;

      .group-FLD {
        object-fit: contain;
        vertical-align: top;
        opacity: 0.2;
        width: 25.5555rem;
        height: 24.2448rem;
        position: absolute;
        left: 114.4rem;
        top: 55.9rem;
      }
      .group-mpM {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:5:5013');
        width: 20.4729rem;
        position: absolute;
        left: 89.3rem;
        top: 108.6rem;
        background-size: cover;
        opacity: 0.2;
        height: 27.7808rem;

        .vector-WX3 {
          height: 27.7768rem;
          object-fit: contain;
          vertical-align: top;
          width: 20.4615rem;
        }
      }
      .group-3G5 {
        position: absolute;
        left: 60.9rem;
        top: 19.9rem;
        object-fit: contain;
        vertical-align: top;
        opacity: 0.2;
        width: 36.3139rem;
        height: 15.5631rem;
      }
      .group-B7P {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:5:5019');
        opacity: 0.2;
        width: 20.4729rem;
        height: 27.7808rem;
        position: absolute;
        left: 29.2rem;
        top: 68rem;
        background-size: cover;

        .vector-Jxh {
          height: 27.7768rem;
          object-fit: contain;
          vertical-align: top;
          width: 20.4615rem;
        }
      }
      .ellipse-3-TKo {
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 77.9rem;
        height: 77.8rem;
        position: absolute;
      }
      .ellipse-5-oeZ {
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem rgba(16, 26, 36, 0.200000003);
        box-sizing: border-box;
        border-radius: 38.9rem;
        width: 77.8rem;
        height: 77.8rem;
      }
      .ellipse-4-wEy {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 97.5291rem;
        height: 97.5291rem;
        position: absolute;
        left: 0;
      }
      .group-58-67s {
        left: 12.5rem;
        top: 32.2rem;
        row-gap: 4.4rem;
        display: flex;
        flex-direction: column;
        width: 119rem;
        height: 113.8rem;
        position: absolute;

        .auto-group-puaq-Cgh {
          width: 100%;
          height: 35rem;
          display: flex;
          column-gap: 7rem;
          align-items: center;
          flex-shrink: 0;

          .group-2-JUq {
            padding: 3rem 2.3rem 3.1rem 5rem;
            width: 35rem;
            align-items: center;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #d1d1d1;
            border-radius: 1.5rem;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-yrxp-qDs {
              width: 26.725rem;
              height: 22rem;
              position: relative;
              flex-shrink: 0;
              margin: 0rem 0.975rem 3.2rem 0rem;

              .image-removebg-preview-6-1-xpH {
                vertical-align: top;
                width: 25rem;
                height: 19.7857rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
              }
              .buggers-txq {
                position: absolute;
                font-size: 3.6rem;
                font-weight: 700;
                line-height: 0.7222222222;
                white-space: nowrap;
                width: 12.8rem;
                left: 6.1rem;
                top: 19.4rem;
                color: #101a24;
                font-family: David Libre, 'Source Sans Pro';
                height: 2.6rem;
              }
              .shopping-cart-opu {
                width: 3.85rem;
                height: 3.675rem;
                position: absolute;
                left: 22.875rem;
                top: 0.175rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .auto-group-scfz-wRK {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 1rem;
              width: calc(100% - 1rem);
              height: 3.7rem;

              .group-21-3jF {
                margin: 0.6rem 5.2rem 0.7rem 0rem;
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.298rem 0.2rem;
                height: calc(100% - 1.3rem);
                display: flex;
                column-gap: 0.4rem;
                align-items: center;
                flex-shrink: 0;

                .star-jMB {
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                }
                .star-5R3 {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-pNd {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .star-9Qu {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                }
                .star-6qw {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .item-1099-RdK {
                display: flex;
                flex-shrink: 0;
                text-align: center;
                font-size: 3rem;
                font-weight: 400;
                color: #000000;
                font-family: Brown Falco, 'Source Sans Pro';
                white-space: nowrap;
                line-height: 1.2102272034;
                align-items: baseline;

                .item-1099-RdK-sub-0 {
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 400;
                }
                .item-1099-RdK-sub-1 {
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: -1.005rem;
                  color: #000000;
                }
                .item-1099-RdK-sub-2 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .group-4-bTF {
            width: 35rem;
            height: 100%;
            display: flex;
            background-color: #d1d1d1;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 3.175rem 2.3rem 3.1rem 6rem;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;

            .auto-group-vcjr-7gV {
              margin: 0rem 0.975rem 1.66rem 2.9rem;
              width: calc(100% - 3.875rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .ellipse-16-3a9 {
                margin: 0.225rem 1.875rem 0rem 0rem;
                width: 17.1rem;
                height: 17.3397rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .shopping-cart-a4H {
                vertical-align: top;
                flex-shrink: 0;
                width: 3.85rem;
                height: 3.675rem;
                position: relative;
                object-fit: contain;
              }
            }
            .kottu-WTj {
              font-weight: 700;
              line-height: 0.7222222222;
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 3.8rem 3.2rem 0rem;
              font-size: 3.6rem;
            }
            .auto-group-fjjn-2ws {
              width: 100%;
              height: 3.7rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .group-21-PGd {
                column-gap: 0.4rem;
                align-items: center;
                flex-shrink: 0;
                margin: 0.6rem 5.2rem 0.7rem 0rem;
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.298rem 0.2rem;
                height: calc(100% - 1.3rem);
                display: flex;

                .star-HN1 {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                }
                .star-dRs {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-NuF {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                }
                .star-8dX {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-6KT {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                }
              }
              .item-1099-Su7 {
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                text-align: center;
                font-size: 3rem;
                font-weight: 400;
                line-height: 1.2102272034;
                color: #000000;
                font-family: Brown Falco, 'Source Sans Pro';

                .item-1099-Su7-sub-0 {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                }
                .item-1099-Su7-sub-1 {
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: -1.005rem;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                }
                .item-1099-Su7-sub-2 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .group-8-1DT {
            box-sizing: border-box;
            width: 35rem;
            align-items: center;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #d1d1d1;
            padding: 2.7rem 2.3rem 3.1rem 6rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 1.5rem;
            flex-shrink: 0;

            .auto-group-vixr-vrD {
              flex-shrink: 0;
              margin: 0rem 0.975rem 3.374rem 3rem;
              width: calc(100% - 3.975rem);
              display: flex;
              align-items: flex-start;

              .ellipse-18-eGR {
                flex-shrink: 0;
                margin-right: 2.775rem;
                width: 16.1rem;
                height: 16.3257rem;
                object-fit: cover;
                vertical-align: top;
              }
              .shopping-cart-BXF {
                margin-top: 0.475rem;
                width: 3.85rem;
                height: 3.675rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .tea-iXB {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 3rem 3.2rem 0rem;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.7222222222;
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
            }
            .auto-group-nct8-eQq {
              width: 100%;
              height: 3.7rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .group-21-bay {
                column-gap: 0.4rem;
                align-items: center;
                flex-shrink: 0;
                margin: 0.6rem 5.2rem 0.7rem 0rem;
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.298rem 0.2rem;
                height: calc(100% - 1.3rem);
                display: flex;

                .star-VgM {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                }
                .star-qkD {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-nvM {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-MCm {
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                }
                .star-i3K {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .item-1099-TWh {
                text-align: center;
                font-size: 3rem;
                font-weight: 400;
                line-height: 1.2102272034;
                display: flex;
                flex-shrink: 0;
                color: #000000;
                font-family: Brown Falco, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;

                .item-1099-TWh-sub-0 {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                }
                .item-1099-TWh-sub-1 {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: -1.005rem;
                }
                .item-1099-TWh-sub-2 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .auto-group-cmiq-G6m {
          display: flex;
          column-gap: 7rem;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 35rem;

          .group-5-CWD {
            align-items: center;
            display: flex;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            padding: 2.775rem 2.575rem 3.3rem 5.3rem;
            width: 35rem;
            flex-direction: column;
            background-color: #d1d1d1;
            border-radius: 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;

            .auto-group-fdag-hC5 {
              margin-bottom: 2.2079rem;
              width: 100%;
              height: 17.9171rem;
              position: relative;
              flex-shrink: 0;

              .png-transparent-pizza-margherita-italian-cuisine-chicago-style-pizza-pepperoni-pizza-removebg-preview-1-3Wq {
                height: 17.6921rem;
                position: absolute;
                left: 0;
                top: 0.225rem;
                object-fit: cover;
                vertical-align: top;
                width: 24.4rem;
              }
              .shopping-cart-82V {
                width: 3.85rem;
                height: 3.675rem;
                position: absolute;
                left: 23.275rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .pizza-Fso {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 2.825rem 2.5rem 0rem;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.7222222222;
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
            }
            .auto-group-palq-kpZ {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.025rem 0rem 0.8rem;
              width: calc(100% - 0.825rem);
              height: 3.7rem;
              display: flex;

              .group-21-5rq {
                display: flex;
                column-gap: 0.4rem;
                align-items: center;
                flex-shrink: 0;
                margin: 0.5rem 4.8rem 0.8rem 0rem;
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.298rem 0.2rem;
                height: calc(100% - 1.3rem);

                .star-9rh {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-gbj {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-e2m {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                }
                .star-zsK {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-LAV {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .item-1099-5ds {
                text-align: center;
                font-size: 3rem;
                font-weight: 400;
                font-family: Brown Falco, 'Source Sans Pro';
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                line-height: 1.2102272034;
                color: #000000;
                white-space: nowrap;

                .item-1099-5ds-sub-0 {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                }
                .item-1099-5ds-sub-1 {
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: -1.005rem;
                  color: #000000;
                }
                .item-1099-5ds-sub-2 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .group-6-Dn1 {
            box-sizing: border-box;
            flex-direction: column;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #d1d1d1;
            border-radius: 1.5rem;
            flex-shrink: 0;
            padding: 2.775rem 2.575rem 3.3rem 3.9rem;
            width: 35rem;
            height: 100%;
            align-items: center;
            display: flex;

            .auto-group-7ury-Lrd {
              margin-bottom: 3.4609rem;
              width: 100%;
              height: 16.6641rem;
              position: relative;
              flex-shrink: 0;

              .image-removebg-preview-9-1-Hms {
                width: 25rem;
                height: 16.0391rem;
                position: absolute;
                left: 0;
                top: 0.625rem;
                object-fit: cover;
                vertical-align: top;
              }
              .shopping-cart-d53 {
                position: absolute;
                left: 24.675rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 3.85rem;
                height: 3.675rem;
              }
            }
            .rice-xt1 {
              margin: 0rem 1.425rem 2.5rem 0rem;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.7222222222;
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-vu8x-RWh {
              margin: 0rem 0.025rem 0rem 2.2rem;
              width: calc(100% - 2.225rem);
              height: 3.7rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .group-21-iVo {
                align-items: center;
                flex-shrink: 0;
                margin: 0.5rem 4.8rem 0.8rem 0rem;
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.298rem 0.2rem;
                height: calc(100% - 1.3rem);
                display: flex;
                column-gap: 0.4rem;

                .star-1jo {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-9LD {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                }
                .star-6mF {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .star-R2q {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .star-NTs {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .item-1099-VoP {
                flex-shrink: 0;
                text-align: center;
                font-weight: 400;
                color: #000000;
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                font-size: 3rem;
                line-height: 1.2102272034;
                font-family: Brown Falco, 'Source Sans Pro';

                .item-1099-VoP-sub-0 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-1099-VoP-sub-1 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: -1.005rem;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-1099-VoP-sub-2 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .group-7-KR3 {
            height: 100%;
            display: flex;
            background-color: #d1d1d1;
            box-sizing: border-box;
            padding: 2.775rem 2.575rem 3.3rem 6.1rem;
            width: 35rem;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            border-radius: 1.5rem;
            flex-shrink: 0;

            .auto-group-ksze-369 {
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 0rem 2.763rem 2.8rem;
              width: calc(100% - 2.8rem);
              display: flex;

              .ellipse-17-mXw {
                margin: 0.225rem 2.775rem 0rem 0rem;
                width: 16.9rem;
                height: 17.1369rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .shopping-cart-64R {
                width: 3.85rem;
                height: 3.675rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .juice-da9 {
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 4.825rem 2.5rem 0rem;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.7222222222;
            }
            .auto-group-lb1s-irV {
              height: 3.7rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 0.025rem;
              width: calc(100% - 0.025rem);

              .group-21-FrR {
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.298rem 0.2rem;
                height: calc(100% - 1.3rem);
                display: flex;
                column-gap: 0.4rem;
                align-items: center;
                flex-shrink: 0;
                margin: 0.5rem 4.8rem 0.8rem 0rem;

                .star-Z6R {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-hyK {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-r5X {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-CfB {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-Mny {
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                }
              }
              .item-1099-7GM {
                font-size: 3rem;
                white-space: nowrap;
                color: #000000;
                font-family: Brown Falco, 'Source Sans Pro';
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                text-align: center;
                font-weight: 400;
                line-height: 1.2102272034;

                .item-1099-7GM-sub-0 {
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                }
                .item-1099-7GM-sub-1 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: -1.005rem;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-1099-7GM-sub-2 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .auto-group-bk8q-5W1 {
          height: 35rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-3-DcD {
            border-radius: 1.5rem;
            flex-shrink: 0;
            margin-right: 7rem;
            padding: 2.1rem 2.9rem 3.8rem 5rem;
            width: 35rem;
            display: flex;
            background-color: #d1d1d1;
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);

            .auto-group-eb4u-w2R {
              width: 26.625rem;
              height: 20.8333rem;
              position: relative;
              flex-shrink: 0;
              margin: 0rem 0.475rem 0.067rem 0rem;

              .image-removebg-preview-8-1-4cq {
                vertical-align: top;
                width: 25rem;
                height: 20.8333rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
              }
              .shopping-cart-BxM {
                width: 3.85rem;
                height: 3.675rem;
                position: absolute;
                left: 22.775rem;
                top: 0.575rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .chinees-food-6ZX {
              font-weight: 700;
              line-height: 0.7222222222;
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 2.2rem 1.9rem 0rem;
              font-size: 3.6rem;
            }
            .auto-group-djgu-pVX {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 1rem;
              width: calc(100% - 1rem);
              height: 3.7rem;

              .group-21-x5w {
                display: flex;
                column-gap: 0.4rem;
                align-items: center;
                flex-shrink: 0;
                margin: 0.8rem 4.6rem 0.5rem 0rem;
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.298rem 0.2rem;
                height: calc(100% - 1.3rem);

                .star-eUZ {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                }
                .star-CW5 {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-kGh {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-u9b {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-TB7 {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .item-1099-CeV {
                white-space: nowrap;
                display: flex;
                font-size: 3rem;
                font-weight: 400;
                line-height: 1.2102272034;
                font-family: Brown Falco, 'Source Sans Pro';
                text-align: center;
                color: #000000;
                align-items: baseline;
                flex-shrink: 0;

                .item-1099-CeV-sub-0 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-1099-CeV-sub-1 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: -1.005rem;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-1099-CeV-sub-2 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .group-2-onh {
            margin-right: 6.8rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            border-radius: 1.5rem;
            padding: 0.7rem 2.9rem 3.8rem 6rem;
            width: 35rem;
            height: 100%;
            align-items: center;
            background-color: #d1d1d1;
            flex-shrink: 0;

            .auto-group-ti7a-KW9 {
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 0.475rem 1.683rem 1.8rem;
              width: calc(100% - 2.275rem);

              .image-removebg-preview-7-1-FPo {
                background-size: 168.421% 100.228%;
                background-position: 0 -0.0236rem;
                background-image: url('REPLACE_IMAGE:8e764b9c663afd541a884140b8b2224facfd0671');
                flex-shrink: 0;
                margin-right: 1.575rem;
                width: 18.4rem;
                height: 20.6169rem;
                position: relative;
              }
              .shopping-cart-YNu {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 1.975rem;
                width: 3.85rem;
                height: 3.675rem;
              }
            }
            .salads-svy {
              font-weight: 700;
              line-height: 0.7222222222;
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.4rem 1.9rem 0rem;
              font-size: 3.6rem;
            }
            .auto-group-erug-QAD {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 3.7rem;

              .group-21-MLM {
                margin: 0.8rem 4.6rem 0.5rem 0rem;
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.298rem 0.2rem;
                height: calc(100% - 1.3rem);
                display: flex;
                column-gap: 0.4rem;
                align-items: center;
                flex-shrink: 0;

                .star-R5K {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                }
                .star-y6q {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-vXs {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-5ff {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                }
                .star-be1 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                }
              }
              .item-1099-LrV {
                white-space: nowrap;
                display: flex;
                line-height: 1.2102272034;
                color: #000000;
                font-weight: 400;
                font-family: Brown Falco, 'Source Sans Pro';
                align-items: baseline;
                flex-shrink: 0;
                text-align: center;
                font-size: 3rem;

                .item-1099-LrV-sub-0 {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                }
                .item-1099-LrV-sub-1 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: -1.005rem;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-1099-LrV-sub-2 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .group-9-stM {
            box-sizing: border-box;
            width: 35rem;
            height: 100%;
            border-radius: 1.5rem;
            flex-shrink: 0;
            padding: 2.675rem 2.9rem 3.8rem 6rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.25);
            background-color: #d1d1d1;

            .auto-group-8s1e-zxy {
              margin: 0rem 0.475rem 3.979rem 3.8rem;
              width: calc(100% - 4.275rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .ellipse-19-ua9 {
                flex-shrink: 0;
                margin: 0.325rem 2.175rem 0rem 0rem;
                width: 15.8rem;
                height: 16.0215rem;
                object-fit: cover;
                vertical-align: top;
              }
              .shopping-cart-qCu {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 3.85rem;
                height: 3.675rem;
              }
            }
            .pasta-yK7 {
              color: #101a24;
              font-family: David Libre, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 2.8rem 1.9rem 0rem;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.7222222222;
            }
            .auto-group-zmpc-JMP {
              width: 100%;
              height: 3.7rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .group-21-SCh {
                flex-shrink: 0;
                margin: 0.8rem 4.6rem 0.5rem 0rem;
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.298rem 0.2rem;
                height: calc(100% - 1.3rem);
                display: flex;
                column-gap: 0.4rem;
                align-items: center;

                .star-Xjw {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                }
                .star-gcq {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .star-DMs {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .star-MDB {
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                }
                .star-Ju7 {
                  width: 2rem;
                  height: 1.902rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .item-1099-Tn1 {
                text-align: center;
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                font-family: Brown Falco, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 3rem;
                font-weight: 400;
                line-height: 1.2102272034;
                color: #000000;

                .item-1099-Tn1-sub-0 {
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                }
                .item-1099-Tn1-sub-1 {
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: -1.005rem;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .item-1099-Tn1-sub-2 {
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
      .all-our-best-meals-in-one-delicious-snap-zJ5 {
        left: 45.1rem;
        top: 21.4rem;
        text-align: center;
        font-size: 3rem;
        line-height: 1.2125;
        color: #282828;
        height: 3.7rem;
        position: absolute;
        font-weight: 100;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 53.7rem;
      }
      .menu-5qK {
        height: 6.5rem;
        font-weight: 700;
        line-height: 1.0833333333;
        font-family: David Libre, 'Source Sans Pro';
        text-align: center;
        font-size: 6rem;
        color: #101a24;
        white-space: nowrap;
        width: 14.9rem;
        position: absolute;
        left: 64.5rem;
        top: 15rem;
      }
      .header-1U5 {
        display: flex;
        align-items: center;
        width: 125.8rem;
        height: 8rem;
        position: absolute;
        left: 7.7rem;
        top: 2.4rem;

        .beige-brown-illustration-restaurant-logo-no-bg-1-M29 {
          width: 20.2rem;
          height: 8rem;
          position: relative;
          background-size: 100% 252.5%;
          background-position: -0rem -5.35rem;
          background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
          flex-shrink: 0;
        }
        .auto-group-zsac-Erd {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 0rem 0.8rem 22.4rem;
          height: 100%;

          .navigation-7fX {
            margin: 1.8rem 25.1rem 1.7rem 0rem;
            height: calc(100% - 3.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .menu-Qed {
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .category-vss {
              flex-shrink: 0;
              margin-right: 4.1rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .about-so7 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
            }
            .contact-1PX {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .shopping-cart-j4d {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0.1rem 0rem;
            width: 2.2rem;
            height: 2.1rem;
            object-fit: contain;
          }
          .navigation-button-rf3 {
            font-size: 2rem;
            font-weight: 500;
            color: #ffffff;
            align-items: center;
            background-size: cover;
            line-height: 1.45;
            font-family: David Libre, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            width: 16.7rem;
            height: 100%;
            white-space: nowrap;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:5:5065');
          }
        }
      }
    }
    .group-521 {
      margin-right: 49.4416rem;
      opacity: 0.2;
      width: 36.3139rem;
      height: 15.5631rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
