
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.order-page-QJV {
  position: relative;
  overflow: hidden;
  background-color: #e5e4e4;
  width: 100%;
  height: 118.2rem;

  .footer-jbf {
    left: 0;
    top: 85.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 144.0001rem;
    height: 30.9rem;
    position: absolute;

    .auto-group-gzek-rRP {
      margin: 0rem 21.2rem 2.6rem 7.1rem;
      width: calc(100% - 28.3002rem);
      height: 24rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-5gxx-Z4u {
        padding-right: 8.5999rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;

        .group-38-tcy {
          margin: 2rem 13.1rem 4.1rem 0rem;
          width: 31.1rem;
          height: calc(100% - 6.1rem);
          position: relative;
          flex-shrink: 0;

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-cos {
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            width: 22.2rem;
            position: absolute;
            top: 6.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            height: 11.6rem;
            left: 8.9rem;
          }
          .beige-brown-illustration-restaurant-logo-no-bg-1-U5P {
            width: 20.2rem;
            height: 7.2rem;
            position: relative;
            left: 0;
            top: 0;
            background-size: 100% 252.5%;
            background-position: -0rem -4.815rem;
            background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
          }
        }
        .group-9-WXs {
          height: 19.6rem;
          position: relative;
          flex-shrink: 0;
          margin-right: 10.5rem;
          width: 9.1rem;

          .menu-about-us-contact-us-main-dishes-KVK {
            left: 0;
            top: 3.6rem;
            font-family: Inter, 'Source Sans Pro';
            line-height: 2.5;
            color: #5c6574;
            width: 9.1rem;
            height: 16rem;
            position: absolute;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .navigation-zrM {
            left: 0;
            line-height: 3.3333333333;
            font-family: Inter, 'Source Sans Pro';
            color: #101a24;
            width: 7.7rem;
            height: 4rem;
            position: absolute;
            top: 0;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            white-space: nowrap;
          }
        }
        .group-10-iXT {
          margin-right: 8.6rem;
          width: 12.7rem;
          height: 19.7rem;
          position: relative;
          flex-shrink: 0;

          .fish-viggies-tofu-chili-egg-cocumber-lumpia-w-suace-Tjw {
            line-height: 2.5;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            width: 12.7rem;
            position: absolute;
            top: 3.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            height: 16rem;
            left: 0;
          }
          .dishes-N6D {
            font-size: 1.2rem;
            line-height: 3.3333333333;
            text-transform: uppercase;
            width: 4.5rem;
            height: 4rem;
            top: 0;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 0;
            font-weight: 700;
          }
        }
        .group-11-sHs {
          width: 7.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .follow-us-cmF {
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 3.3333333333;
            text-transform: uppercase;
          }
          .auto-group-t8kg-ZAh {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.3rem 1.812rem 0rem 1.4rem;
            width: 100%;
            row-gap: 0.8124rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .facebook-ehw {
              box-sizing: border-box;
              padding: 0.691rem 0.691rem 0.691rem 0.691rem;
              width: 100%;
              border: solid 0.1rem #101a24;
              border-radius: 1.9438rem;
              flex-shrink: 0;

              .image-1-PfX {
                width: 2.5054rem;
                height: 2.5053rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .group-40-hw7 {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.8876rem;
              height: 3.8876rem;
              position: relative;
              object-fit: contain;
            }
            .group-39-S81 {
              width: 100%;
              height: 3.8876rem;
              position: relative;
              flex-shrink: 0;

              .facebook-mg5 {
                width: 3.8876rem;
                height: 3.8876rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
              .image-3-uGV {
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                left: 0.6876rem;
                top: 0.7rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
        }
      }
      .group-37-puF {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .opening-hours-z33 {
          font-weight: 700;
          line-height: 3.3333333333;
          white-space: nowrap;
          color: #101a24;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 1.2rem;
          text-transform: uppercase;
        }
        .monday-friday-8-00-am-to-9-00-pm-sMj {
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          max-width: 14.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
        }
        .saturday-8-00-am-to-9-00-pm-PL5 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          max-width: 14.9rem;
        }
        .sunday-closed-hrZ {
          max-width: 6.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .line-2-oeh {
      height: 0.1rem;
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      width: 100%;
    }
    .auto-group-1avn-L8q {
      width: calc(100% - 12.4002rem);
      height: 2.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 5.3rem 0rem 7.1rem;

      .copyright-4Kj {
        align-items: center;
        flex-shrink: 0;
        margin-right: 58.8999rem;
        height: 100%;
        display: flex;

        .copyright-symbol-svgrepo-com-1-RAH {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 1rem 0rem 0rem;
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
        }
        .restaurants-all-right-reserved-designed-by-yohan-hNh {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .terms-of-service-privacy-policy-1uB {
        color: #5c6574;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.8125;
      }
    }
  }
  .order-w29 {
    top: 0;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 188.5554rem;
    height: 150.4808rem;
    position: absolute;
    left: 0;

    .auto-group-u8jl-eSM {
      margin: 0rem 6.455rem 6.1rem 0rem;
      width: 182.1rem;
      height: 99.5rem;
      position: relative;
      flex-shrink: 0;

      .group-ZpD {
        object-fit: contain;
        vertical-align: top;
        opacity: 0.2;
        width: 36.3139rem;
        height: 15.5631rem;
        position: absolute;
        left: 52.4rem;
        top: 32.2rem;
      }
      .ellipse-3-6p9 {
        vertical-align: top;
        width: 77.9rem;
        height: 77.8rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
      }
      .ellipse-5-rHX {
        box-sizing: border-box;
        border-radius: 38.9rem;
        width: 77.8rem;
        height: 77.8rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem rgba(16, 26, 36, 0.200000003);
      }
      .ellipse-4-jMK {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 97.5291rem;
        height: 97.5291rem;
      }
      .group-56-V5b {
        width: 118.8rem;
        height: 19.6rem;
        position: absolute;
        left: 12.6rem;
        top: 30.2rem;
        display: flex;
        align-items: center;

        .group-31-RE9 {
          margin-right: 1.8rem;
          padding: 0.4rem 5.4rem 2.5rem 3.65rem;
          width: 38.3rem;
          background-color: #ecebeb;
          border-radius: 2.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .auto-group-wdh2-jEq {
            height: 4.7rem;
            position: relative;
            margin-bottom: 0.4rem;
            width: 100%;

            .lorem-ipsum-dolor-sit-amet-consectetur-rqF {
              font-size: 1.5rem;
              color: #5c6574;
              white-space: nowrap;
              height: 2.1rem;
              position: absolute;
              left: 0.15rem;
              line-height: 1.4;
              font-family: Inter, 'Source Sans Pro';
              width: 29.1rem;
              top: 2.6rem;
              font-weight: 400;
            }
            .ama-ampomah-xtH {
              top: 0;
              text-align: center;
              font-size: 1.6rem;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
              height: 2.9rem;
              left: 0;
              font-weight: 700;
              line-height: 1.8125;
              white-space: nowrap;
              width: 12rem;
            }
          }
          .item-94-77-562-3255-U5w {
            margin-left: 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .bugger-Bm3 {
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.1rem 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
          }
          .total-cost-1000-vCq {
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
          }
          .date-TTf {
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.1rem 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .group-25-LGZ {
            background-color: #ffffff;
            margin: 0rem 3.9rem 0rem 5.75rem;
            line-height: 1.2125;
            border-radius: 2rem;
            height: 2rem;
            font-weight: 900;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            width: calc(100% - 9.65rem);
            color: #012b05;
            align-items: center;
            font-size: 1.4rem;
            display: flex;
          }
        }
        .group-30-K8V {
          padding: 0.4rem 5.4rem 2.5rem 3.65rem;
          width: 38.3rem;
          height: 100%;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ecebeb;
          border-radius: 2.5rem;
          margin-right: 2.1rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-xk4p-DzZ {
            height: 4.7rem;
            position: relative;
            margin-bottom: 0.4rem;
            width: 100%;

            .lorem-ipsum-dolor-sit-amet-consectetur-kUh {
              font-weight: 400;
              line-height: 1.4;
              color: #5c6574;
              height: 2.1rem;
              position: absolute;
              top: 2.6rem;
              font-size: 1.5rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 29.1rem;
              left: 0.15rem;
            }
            .ama-ampomah-SMX {
              position: absolute;
              left: 0;
              text-align: center;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              height: 2.9rem;
              top: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.8125;
              white-space: nowrap;
              width: 12rem;
            }
          }
          .item-94-77-562-3255-m8u {
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .bugger-EYH {
            margin: 0rem 0rem 0.1rem 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .total-cost-1000-xz5 {
            white-space: nowrap;
            margin-left: 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
          }
          .date-WEu {
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.1rem 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .group-25-qY5 {
            margin: 0rem 3.9rem 0rem 5.75rem;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 2rem;
            font-weight: 900;
            color: #012b05;
            width: calc(100% - 9.65rem);
            height: 2rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .group-32-p97 {
          border-radius: 2.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 5.4rem 2.5rem 3.65rem;
          width: 38.3rem;
          height: 100%;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ecebeb;

          .auto-group-kngq-8fb {
            position: relative;
            margin-bottom: 0.4rem;
            width: 100%;
            height: 4.7rem;

            .lorem-ipsum-dolor-sit-amet-consectetur-Txm {
              position: absolute;
              font-size: 1.5rem;
              font-weight: 400;
              white-space: nowrap;
              width: 29.1rem;
              height: 2.1rem;
              left: 0.15rem;
              top: 2.6rem;
              line-height: 1.4;
              color: #5c6574;
              font-family: Inter, 'Source Sans Pro';
            }
            .ama-ampomah-AcH {
              width: 12rem;
              left: 0;
              text-align: center;
              font-size: 1.6rem;
              line-height: 1.8125;
              white-space: nowrap;
              height: 2.9rem;
              position: absolute;
              top: 0;
              font-weight: 700;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .item-94-77-562-3255-Uss {
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .bugger-DKf {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.1rem 0.15rem;
          }
          .total-cost-1000-x2M {
            font-weight: 400;
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.15rem;
            font-size: 1.5rem;
          }
          .date-eQy {
            white-space: nowrap;
            margin: 0rem 0rem 1.1rem 0.15rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
          }
          .group-25-Bfo {
            font-weight: 900;
            border-radius: 2rem;
            background-color: #ffffff;
            margin: 0rem 3.9rem 0rem 5.75rem;
            font-size: 1.4rem;
            line-height: 1.2125;
            color: #012b05;
            white-space: nowrap;
            justify-content: center;
            height: 2rem;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            width: calc(100% - 9.65rem);
          }
        }
      }
      .make-your-order-MTo {
        font-weight: 700;
        line-height: 1.0833333333;
        font-family: David Libre, 'Source Sans Pro';
        width: 44.4rem;
        position: absolute;
        left: 49.8rem;
        text-align: center;
        font-size: 6rem;
        height: 6.5rem;
        top: 13.1rem;
        color: #101a24;
        white-space: nowrap;
      }
      .header-4t1 {
        position: absolute;
        left: 7.7rem;
        top: 2.4rem;
        display: flex;
        align-items: center;
        width: 125.8rem;
        height: 8rem;

        .beige-brown-illustration-restaurant-logo-no-bg-1-1HT {
          width: 20.2rem;
          height: 8rem;
          position: relative;
          background-size: 100% 252.5%;
          background-position: -0rem -5.35rem;
          background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
          flex-shrink: 0;
        }
        .auto-group-4u2k-hRB {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 0rem 0.8rem 22.4rem;
          height: 100%;
          display: flex;
          align-items: center;

          .navigation-pVo {
            align-items: center;
            flex-shrink: 0;
            margin: 1.8rem 25.1rem 1.7rem 0rem;
            height: calc(100% - 3.5rem);
            display: flex;

            .menu-Xv1 {
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .category-Gsb {
              flex-shrink: 0;
              margin-right: 4.1rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .about-DXw {
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .contact-y1K {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.8125;
              color: #101a24;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .shopping-cart-VVT {
            width: 2.2rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0.1rem 0rem;
          }
          .navigation-button-Q6d {
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            background-size: cover;
            background-repeat: no-repeat;
            flex-shrink: 0;
            padding: 1.8rem 4.8rem 1.7rem 1.9rem;
            display: flex;
            background-position: center;
            background-image: url('REPLACE_IMAGE:6:2001');

            .user-Jxh {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.7rem;
              width: 1.6rem;
              height: 2.025rem;
              object-fit: contain;
            }
            .sign-in-qSq {
              font-family: David Libre, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.45;
              color: #ffffff;
            }
          }
        }
      }
    }
    .auto-group-wqqw-xGZ {
      height: 44.8808rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .group-uSh {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:6:44');
        flex-shrink: 0;
        margin: 17.1rem 25.327rem 0rem 0rem;
        opacity: 0.2;
        background-size: cover;

        .vector-FWZ {
          width: 20.4616rem;
          height: 27.7768rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-pv3a-mjo {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 7.1rem 30.4rem 19.981rem 0rem;
        width: 24.1rem;
        height: calc(100% - 27.0808rem);
        row-gap: 0.8rem;
        align-items: center;

        .navigation-button-4U1 {
          flex-shrink: 0;
          align-items: center;
          background-image: url('REPLACE_IMAGE:6:2166');
          display: flex;
          background-size: cover;
          font-size: 2rem;
          font-weight: 500;
          font-family: David Libre, 'Source Sans Pro';
          width: 100%;
          text-align: center;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          background-repeat: no-repeat;
          background-position: center;
          height: 5.4rem;
          line-height: 1.45;
        }
        .navigation-button-krd {
          height: 5.4rem;
          color: #ffffff;
          font-family: David Libre, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          justify-content: center;
          width: 100%;
          display: flex;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          text-align: center;
          font-weight: 500;
          line-height: 1.45;
          white-space: nowrap;
          align-items: center;
          background-image: url('REPLACE_IMAGE:6:2160');
        }
        .navigation-button-Emo {
          white-space: nowrap;
          align-items: center;
          width: 100%;
          background-repeat: no-repeat;
          color: #ffffff;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          font-family: David Libre, 'Source Sans Pro';
          background-size: cover;
          background-position: center;
          background-image: url('REPLACE_IMAGE:6:2163');
          height: 5.4rem;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          line-height: 1.45;
        }
      }
      .group-GiV {
        flex-shrink: 0;
        opacity: 0.2;
        width: 25.5554rem;
        height: 24.2448rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
