
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.purchase-page-3Sq {
  width: 100%;
  height: 130rem;
  position: relative;
  overflow: hidden;
  background-color: #e5e4e4;

  .footer-yLV {
    position: absolute;
    left: 0;
    top: 97.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 144.0001rem;
    height: 30.9rem;

    .auto-group-9yu6-tyF {
      flex-shrink: 0;
      margin: 0rem 21.2rem 2.6rem 7.1rem;
      width: calc(100% - 28.3002rem);
      height: 24rem;
      display: flex;
      align-items: center;

      .auto-group-wr96-DEq {
        padding-right: 8.6rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;

        .group-38-Z3o {
          height: calc(100% - 6.4rem);
          position: relative;
          flex-shrink: 0;
          margin: 2.3rem 13.1rem 4.1rem 0rem;
          width: 31.1rem;

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-5Xw {
            left: 8.9rem;
            top: 6rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: #5c6574;
            width: 22.2rem;
            height: 11.6rem;
            position: absolute;
            line-height: 1.8125;
            font-family: Inter, 'Source Sans Pro';
          }
          .beige-brown-illustration-restaurant-logo-no-bg-1-hZK {
            background-position: -0rem -4.815rem;
            background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
            width: 20.2rem;
            height: 7.2rem;
            position: relative;
            left: 0;
            top: 0;
            background-size: 100% 252.5%;
          }
        }
        .group-9-ymj {
          margin-right: 10.5rem;
          width: 9.1rem;
          height: 19.6rem;
          position: relative;
          flex-shrink: 0;

          .menu-about-us-contact-us-main-dishes-X2Z {
            position: absolute;
            left: 0;
            font-weight: 400;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            height: 16rem;
            top: 3.6rem;
            font-size: 1.6rem;
            line-height: 2.5;
            width: 9.1rem;
          }
          .navigation-zRw {
            text-transform: uppercase;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            top: 0;
            line-height: 3.3333333333;
            position: absolute;
            left: 0;
            font-size: 1.2rem;
            font-weight: 700;
            white-space: nowrap;
            width: 7.7rem;
            height: 4rem;
          }
        }
        .group-10-SYq {
          margin-right: 8.6rem;
          width: 12.7rem;
          height: 19.7rem;
          position: relative;
          flex-shrink: 0;

          .fish-viggies-tofu-chili-egg-cocumber-lumpia-w-suace-NBb {
            top: 3.7rem;
            font-weight: 400;
            line-height: 2.5;
            width: 12.7rem;
            left: 0;
            font-size: 1.6rem;
            color: #5c6574;
            font-family: Inter, 'Source Sans Pro';
            height: 16rem;
            position: absolute;
          }
          .dishes-RvZ {
            color: #101a24;
            height: 4rem;
            top: 0;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            white-space: nowrap;
            width: 4.5rem;
            position: absolute;
            left: 0;
            line-height: 3.3333333333;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .group-11-iem {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 7.1rem;

          .follow-us-T6Z {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 3.3333333333;
            text-transform: uppercase;
            color: #101a24;
          }
          .auto-group-67kv-CK3 {
            width: 100%;
            row-gap: 0.8124rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.3rem 1.812rem 0rem 1.4rem;

            .facebook-KPf {
              border: solid 0.1rem #101a24;
              border-radius: 1.9438rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.691rem 0.691rem 0.691rem 0.691rem;
              width: 100%;

              .image-1-F2R {
                width: 2.5054rem;
                height: 2.5053rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .group-40-9db {
              width: 3.8876rem;
              height: 3.8876rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-39-6oj {
              position: relative;
              flex-shrink: 0;
              width: 100%;
              height: 3.8876rem;

              .facebook-qWR {
                width: 3.8876rem;
                height: 3.8876rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
              .image-3-PXw {
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                left: 0.6875rem;
                top: 0.7rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
        }
      }
      .group-37-v25 {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .opening-hours-TGu {
          text-transform: uppercase;
          color: #101a24;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 1.2rem;
          line-height: 3.3333333333;
          font-weight: 700;
        }
        .monday-friday-8-00-am-to-9-00-pm-ym3 {
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          max-width: 14.9rem;
          font-size: 1.6rem;
        }
        .saturday-8-00-am-to-9-00-pm-ecH {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          max-width: 14.9rem;
        }
        .sunday-closed-AqX {
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 6.4rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
    .line-2-5Sh {
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      width: 100%;
      height: 0.1rem;
    }
    .auto-group-cxnx-DYu {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 5.3rem 0rem 7.1rem;
      width: calc(100% - 12.4002rem);
      height: 2.9rem;
      display: flex;

      .copyright-wUu {
        margin-right: 58.8999rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .copyright-symbol-svgrepo-com-1-6ch {
          flex-shrink: 0;
          margin: 0.2rem 1rem 0rem 0rem;
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
          vertical-align: top;
        }
        .restaurants-all-right-reserved-designed-by-yohan-zxy {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
        }
      }
      .terms-of-service-privacy-policy-KVT {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.8125;
        color: #5c6574;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .order-rEV {
    width: 188.5554rem;
    height: 150.4808rem;
    position: absolute;
    left: 0;
    top: 0;

    .group-Mww {
      object-fit: contain;
      vertical-align: top;
      opacity: 0.2;
      width: 25.5554rem;
      height: 24.2448rem;
      position: absolute;
      left: 114.4rem;
      top: 55.9rem;
    }
    .group-fSq {
      opacity: 0.2;
      width: 36.3139rem;
      height: 15.5631rem;
      position: absolute;
      left: 52.4rem;
      top: 32.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-yiR {
      left: 14.1rem;
      top: 73rem;
      background-repeat: no-repeat;
      width: 20.4728rem;
      height: 27.7808rem;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:6:2083');
      opacity: 0.2;
      position: absolute;

      .vector-WyF {
        vertical-align: top;
        width: 20.4616rem;
        height: 27.7768rem;
        object-fit: contain;
      }
    }
    .ellipse-3-3yB {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 77.9rem;
      height: 77.8rem;
      position: absolute;
    }
    .ellipse-5-Cr5 {
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.1rem rgba(16, 26, 36, 0.200000003);
      box-sizing: border-box;
      border-radius: 38.9rem;
      width: 77.8rem;
      height: 77.8rem;
    }
    .ellipse-4-V4V {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 97.5291rem;
      height: 97.5291rem;
      position: absolute;
      left: 0;
    }
    .navigation-button-c97 {
      position: absolute;
      color: #ffffff;
      font-family: David Libre, 'Source Sans Pro';
      display: flex;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 24.1rem;
      line-height: 1.45;
      white-space: nowrap;
      top: 30.6rem;
      text-align: center;
      font-weight: 500;
      background-image: url('REPLACE_IMAGE:6:2137');
      height: 5.4rem;
      left: 97.7rem;
      font-size: 2rem;
      justify-content: center;
      background-position: center;
    }
    .navigation-button-RcM {
      background-size: cover;
      position: absolute;
      font-size: 2rem;
      font-weight: 500;
      color: #ffffff;
      background-position: center;
      background-image: url('REPLACE_IMAGE:6:2140');
      top: 36.8rem;
      left: 97.7rem;
      text-align: center;
      line-height: 1.45;
      justify-content: center;
      height: 5.4rem;
      font-family: David Libre, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
      width: 24.1rem;
    }
    .group-30-uGd {
      width: 74.3rem;
      height: 66.5rem;
      position: absolute;
      left: 8.1rem;
      top: 25.7rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ebebeb;
      border-radius: 2.5rem;

      .group-26-D2R {
        width: 45rem;
        height: 5.8rem;
        position: absolute;
        left: 14.7rem;
        top: 54rem;

        .rectangle-13-wj7 {
          background-color: #ea6d27;
          border-radius: 1rem;
          width: 45rem;
          height: 5.7rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .confirm-order-cqF {
          font-family: Inter, 'Source Sans Pro';
          height: 5.8rem;
          position: absolute;
          font-weight: 700;
          text-align: center;
          font-size: 1.6rem;
          line-height: 3.625;
          color: #ffffff;
          white-space: nowrap;
          width: 11.3rem;
          left: 15.25rem;
          top: 0;
        }
        .check-itH {
          vertical-align: top;
          width: 1.6rem;
          height: 1.1rem;
          position: absolute;
          left: 28.2rem;
          top: 2.3rem;
          object-fit: contain;
        }
      }
      .group-20-fHj {
        top: 33.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 45.8rem;
        height: 18.5rem;
        position: absolute;
        left: 14.2rem;

        .auto-group-rey8-PjX {
          flex-shrink: 0;
          width: 100%;
          height: 14.7rem;
          display: flex;
          align-items: center;

          .sub-total-delivery-cost-promo-code--x1w {
            font-size: 2rem;
            font-weight: 500;
            line-height: 2.45;
            color: #3f3f3f;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 5.5711rem;
            max-width: 21.3rem;
          }
          .auto-group-nawu-fBF {
            border-bottom: solid 0.1rem #000000;
            box-sizing: border-box;
            flex-shrink: 0;
            margin: 1.3rem 0rem 0.6rem 0rem;
            width: 18.9289rem;
            height: calc(100% - 1.9rem);

            .auto-group-9jmn-kTb {
              box-sizing: border-box;
              padding: 0rem 6.098rem 0.7rem 6.231rem;
              width: 100%;
              height: 12.7rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .item-1099-Ggq {
                font-weight: 400;
                line-height: 1.1820000648;
                color: #353535;
                font-family: Brown Falco, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.3rem;
                text-align: center;
                font-size: 2rem;
                display: flex;
                align-items: baseline;

                .item-1099-Ggq-sub-0 {
                  font-family: ABeeZee, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.1825;
                  color: #353535;
                }
                .item-1099-Ggq-sub-1 {
                  color: #353535;
                  font-family: ABeeZee, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.1825;
                  letter-spacing: -0.67rem;
                }
                .item-1099-Ggq-sub-2 {
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.1825;
                  color: #353535;
                  font-family: ABeeZee, 'Source Sans Pro';
                }
              }
              .item-1099-GsB {
                align-items: baseline;
                flex-shrink: 0;
                text-align: center;
                font-weight: 400;
                font-family: Brown Falco, 'Source Sans Pro';
                color: #353535;
                white-space: nowrap;
                display: flex;
                margin-bottom: 2.5rem;
                font-size: 2rem;
                line-height: 1.1820000648;

                .item-1099-GsB-sub-0 {
                  line-height: 1.1825;
                  color: #353535;
                  font-family: ABeeZee, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                }
                .item-1099-GsB-sub-1 {
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.1825;
                  letter-spacing: -0.67rem;
                  color: #353535;
                  font-family: ABeeZee, 'Source Sans Pro';
                }
                .item-1099-GsB-sub-2 {
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.1825;
                  color: #353535;
                  font-family: ABeeZee, 'Source Sans Pro';
                }
              }
              .item-1099-V7f {
                color: #353535;
                align-items: baseline;
                flex-shrink: 0;
                font-weight: 400;
                font-size: 2rem;
                line-height: 1.1820000648;
                font-family: Brown Falco, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                text-align: center;

                .item-1099-V7f-sub-0 {
                  color: #353535;
                  font-family: ABeeZee, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.1825;
                }
                .item-1099-V7f-sub-1 {
                  line-height: 1.1825;
                  letter-spacing: -0.67rem;
                  color: #353535;
                  font-family: ABeeZee, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                }
                .item-1099-V7f-sub-2 {
                  font-weight: 400;
                  line-height: 1.1825;
                  color: #353535;
                  font-family: ABeeZee, 'Source Sans Pro';
                  font-size: 2rem;
                }
              }
            }
          }
        }
        .auto-group-b5g4-uKo {
          border-bottom: solid 0.1rem #000000;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.1rem 0rem 0.4rem 0.1rem;
          width: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .auto-group-lkdn-D5b {
            width: calc(100% - 6.0983rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 6.098rem 0.7rem 0rem;

            .total-cost-iHF {
              color: #3f3f3f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 23.3017rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .item-1099-TEq {
              font-family: Brown Falco, 'Source Sans Pro';
              display: flex;
              font-weight: 400;
              line-height: 1.1820000648;
              color: #353535;
              white-space: nowrap;
              align-items: baseline;
              flex-shrink: 0;
              text-align: center;
              font-size: 2rem;

              .item-1099-TEq-sub-0 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.1825;
                color: #353535;
                font-family: ABeeZee, 'Source Sans Pro';
              }
              .item-1099-TEq-sub-1 {
                font-family: ABeeZee, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.1825;
                letter-spacing: -0.67rem;
                color: #353535;
              }
              .item-1099-TEq-sub-2 {
                line-height: 1.1825;
                color: #353535;
                font-family: ABeeZee, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 400;
              }
            }
          }
          .line-4-Up9 {
            margin-bottom: 0.3rem;
            width: 18.9289rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
        }
      }
      .bugger-1000-moF {
        width: 49.9rem;
        position: absolute;
        left: 12.8rem;
        font-size: 1.8rem;
        color: #2f2f2f;
        font-family: Inter, 'Source Sans Pro';
        height: 2.2rem;
        top: 26.9rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .pizza-1000-gQR {
        white-space: nowrap;
        width: 49.8rem;
        height: 2.2rem;
        top: 29.4rem;
        font-weight: 400;
        color: #2f2f2f;
        position: absolute;
        left: 12.8rem;
        font-size: 1.8rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .food-items--Ppd {
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.2125;
        top: 23.6rem;
        font-weight: 800;
        color: #303030;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 14.4rem;
        height: 2.2rem;
        left: 10.3rem;
      }
      .group-26-Vcm {
        left: 10.2rem;
        top: 16.7rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 1.6rem 1.4rem 1.6rem 2.4rem;
        width: 53.7rem;
        position: absolute;
        background-color: #e3e3e3;
        border-radius: 0.5rem;
        height: 5.4rem;

        .delivery-method-zJd {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 33.9rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #101a24;
        }
        .arrow-down-circle-89w {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
          height: 2rem;
        }
      }
      .group-25-SwK {
        position: absolute;
        left: 10.2rem;
        display: flex;
        background-color: #e3e3e3;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 1.6rem 1.583rem 1.6rem 2.8rem;
        width: 53.7rem;
        height: 5.4rem;
        top: 9.1rem;
        align-items: center;

        .location-9qj {
          font-weight: 400;
          line-height: 1.2125;
          color: #101a24;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 40.0833rem;
          font-size: 1.8rem;
        }
        .arrow-down-circle-gam {
          margin-bottom: 0rem;
          width: 1.8333rem;
          height: 1.8333rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .ama-ampomah-QFs {
        line-height: 1.2083333333;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 10.3rem;
        font-weight: 700;
        font-size: 2.4rem;
        color: #101a24;
        width: 18rem;
        height: 2.9rem;
        top: 3.5rem;
      }
    }
    .make-your-payment-sv9 {
      color: #101a24;
      font-family: David Libre, 'Source Sans Pro';
      position: absolute;
      top: 15rem;
      font-weight: 700;
      text-align: center;
      font-size: 6rem;
      line-height: 1.0833333333;
      white-space: nowrap;
      width: 52.1rem;
      height: 6.5rem;
      left: 45.9rem;
    }
    .header-N6D {
      position: absolute;
      left: 7.7rem;
      top: 2.4rem;
      display: flex;
      align-items: center;
      width: 125.8rem;
      height: 8rem;

      .beige-brown-illustration-restaurant-logo-no-bg-1-Hys {
        height: 8rem;
        position: relative;
        background-size: 100% 252.5%;
        background-position: -0rem -5.35rem;
        background-image: url('REPLACE_IMAGE:35750c2c5d65ce5646ae0c5ee5ed55ae85e7af2c');
        flex-shrink: 0;
        width: 20.2rem;
      }
      .auto-group-byj4-P1K {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 0rem 0.8rem 22.4rem;
        height: 100%;
        display: flex;
        align-items: center;

        .navigation-Wbj {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 1.8rem 25.1rem 1.7rem 0rem;
          height: calc(100% - 3.5rem);

          .menu-35s {
            margin-right: 4.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .category-abb {
            margin-right: 4.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .about-iho {
            margin-right: 4.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .contact-qnR {
            line-height: 1.8125;
            color: #101a24;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .shopping-cart-nSm {
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.6rem 0.1rem 0rem;
          width: 2.2rem;
        }
        .navigation-button-WNm {
          box-sizing: border-box;
          height: 100%;
          display: flex;
          background-position: center;
          flex-shrink: 0;
          padding: 1.8rem 4.8rem 1.7rem 1.6rem;
          align-items: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:6:2102');

          .user-qA9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2rem 0.1rem 0rem;
            width: 1.6rem;
            height: 1.8rem;
          }
          .sign-in-m3o {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.45;
            color: #ffffff;
            font-family: David Libre, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
