.add-products h3 {
    text-align: center;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 500px;
    position: relative;
}

.inputGroup input,
textarea,
select {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

.inputGroup :is(textarea:focus, textarea:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
}

.inputGroup :is(textarea:focus, textarea:valid) {
    border-color: rgb(150, 150, 200);
}

button {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.5em 1.2em 0.5em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}

button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

button:hover {
    background-color: #0071e2;
}

.show-products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .show-products .box-container .box{
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: 1px solid #000;
    padding:1.5rem;
 }
 
 .show-products .box-container .box img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 
 .show-products .box-container .box .name{
    font-size: 2rem;
    color: #000;
    padding:1rem 0;
    text-align: center;
 }
 .show-products .box-container .box .description{
    font-size: 1.5rem;
    color: #000;
    padding:1rem 0;
    text-align: center;
 }
 .show-products .box-container .box .category{
    font-size: 2rem;
    color:#34495e;
    float: right;
    margin-top: -30px;
 }
 
 .show-products .box-container .box .price{
    font-size: 2rem;
    color: #34495e;
    margin:.5rem 0;
 }
 
 .show-products .box-container .box .price span{
    font-size: 1.5rem;
 }

 .flex-btn{
    display: flex;
    gap:1rem;
 }
 .delete-btn,
.option-btn{
   display: block;
   margin-top: 1rem;
   border-radius: .5rem;
   cursor: pointer;
   width: 100%;
   font-size: 1.8rem;
   color: #fff;
   padding:1.2rem 3rem;
   text-transform: capitalize;
   text-align: center;
}

.delete-btn{
   background-color: #e74c3c;
}

.option-btn{
   background-color:#f39c12;
}

.delete-btn:hover,
.option-btn:hover{
   background-color: #c1cad3;
}


.about-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
   border: solid 3px transparent;
   background-clip: padding-box;
   box-shadow: 0px 0px 0px 3px #ffffff00;
   color: white;
   min-height: 43px;
   padding: 0 13px 0 13px;
   border-radius: 50px;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition: all .5s ease;
 }
 
 .about-btn:active {
   transform: scale(.9);
   transition: all 100ms ease;
 }
 
 .about-btn:hover {
   box-shadow: 0px 0px 0px 3px #30a1b8;
 }
 
 .about-btn svg {
   width: 16px;
 }

  .row .white-box .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

 .row .white-box .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
   padding-top: 1rem;
}

 .row .white-box .box-container .box p{
   padding: .5rem 0;
   line-height: 1.5;
   font-size: 1.8rem;
   color:var(--black);
}

 .row .white-box .box-container .box p span{
   color:var(--main-color);
}

 .row .white-box .box-container .box .drop-down{
   width: 100%;
   margin:1rem 0;
   background-color: var(--light-bg);
   padding:1rem 1.4rem;
   font-size: 2rem;
   color:var(--black);
   border:var(--border);
   border-radius: .5rem;
}

.form-container{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}

.form-container form{
   background-color: var(--white);
   border-radius: .5rem;
   border:var(--border);
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   width: 50rem;
}

.form-container form h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: capitalize;
   margin-bottom: 1rem;
}

.form-container form p{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--light-color);
}

.form-container form p span{
   color:var(--main-color);
}

.form-container form .box{
   width: 100%;
   background-color: var(--light-bg);
   padding:1.4rem;
   font-size: 1.4rem;
   color:var(--black);
   margin:1rem 0;
   border:var(--border);
   font-size: 1.8rem;
   border-radius: .5rem;
}